{{ includeScript('plugins/MauticFullContactBundle/Assets/js/fullcontact.js') }}
<div class="well well-sm" style="margin-bottom:0 !important;">
    <p>{{ 'mautic.plugin.fullcontact.webhook'|trans }}</p>
    <div class="alert alert-warning">
        {{ 'mautic.plugin.fullcontact.public_info'|trans|purify }}
    </div>
    <input type="text" readonly="readonly" value="{{ mauticUrl }}" class="form-control" title="url"/>
</div>
