{% block _campaignevent_properties_row %}
<div class="row condition-row">
    <div class="col-xs-12">
        {{ form_row(form.campaigns) }}
    </div>
</div>

<div class="row condition-row">
    <div class="col-xs-5">
        {{ form_row(form.dataAddedLimit) }}
    </div>
    <div class="col-xs-3">
        {{ form_row(form.expr) }}
    </div>
    <div class="col-xs-4">
        {{ form_row(form.dateAdded) }}
    </div>
</div>
{% endblock %}
