@import url(https://fonts.googleapis.com/css?family=Lato:400);

/* Take care of image borders and formatting */

img {
    max-width: 600px;
    outline: none;
    text-decoration: none;
    -ms-interpolation-mode: bicubic;
}

a {
    text-decoration: none;
    border: 0;
    outline: none;
}

a img {
    border: none;
}

/* General styling */

td, h1, h2, h3  {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
}

body {
    -webkit-font-smoothing:antialiased;
    -webkit-text-size-adjust:none;
    width: 100%;
    height: 100%;
    color: #37302d;
    background: #ffffff;
}

table {
    background:
}

h1, h2, h3 {
    padding: 0;
    margin: 0;
    color: #ffffff;
    font-weight: 400;
}

h3 {
    color: #21c5ba;
    font-size: 24px;
}

@media screen {
     /* Thanks Outlook 2013! http://goo.gl/XLxpyl*/
    td, h1, h2, h3 {
        font-family: 'Lato', 'Helvetica Neue', 'Arial', 'sans-serif' !important;
    }
}

/* Mobile styles */
@media only screen and (max-width: 480px) {

    table[class="w320"] {
        width: 320px !important;
    }

    table[class="w300"] {
        width: 300px !important;
    }

    table[class="w290"] {
        width: 290px !important;
    }

    td[class="w320"] {
        width: 320px !important;
    }

    td[class="mobile-center"] {
        text-align: center !important;
    }

    td[class="mobile-padding"] {
        padding-left: 20px !important;
        padding-right: 20px !important;
        padding-bottom: 20px !important;
    }
}
