{% block _formaction_properties_row %}
  <div class="row">
      <div class="col-xs-6">
          {{ form_row(form.operator) }}
      </div>
      <div class="col-xs-6">
          {{ form_row(form.points) }}
      </div>
      <div class="col-xs-6">
          {{ form_row(form.group) }}
      </div>
  </div>
{% endblock %}
