<div class="bundle-form">
    <div class="bundle-form-header mb-15">
        <h3>{{ 'mautic.campaign.leadsource.header.singular'|trans }}</h3>
        <h6 class="text-muted">{{ ('mautic.campaign.leadsource.'~sourceType~'.tooltip')|trans }}</h6>
    </div>
    {{ form_start(form) }}
    {{ form_end(form) }}
</div>
