<td class="{{ class }}">
    {% for field in fields %}
        {% if field[column].value is defined %}
            {% if field[column].normalizedValue is string %}{{ normalizeStringValue(field[column].normalizedValue)|purify }}{% endif %}
        {% endif %}
    {% endfor %}
</td>
