<td class="{{ class }}">
    <span size="sm" class="label label-warm-gray" style="{% if item.color %}background-color:{{ item.color }};{% endif %}"><i class="ri-coins-fill"></i>{{ item.points }}</span>
</td>
