{#
  Variables
    - dncList
#}
{% for channel, reason in dncList %}
  <span class="label label-danger">
    <i title="{{ 'mautic.lead.event.donotcontact_channel'|trans({'%channel%': channel}) }}" class="ri-prohibited-line ico-{{ channel }}"></i>
  </span>
{% endfor %}
