.vector-map {
	height: 350px;
    color: transparent;
}
.jvectormap-container {
    height:100%;
    width:100%;
}
.sortable-placeholder {
    background-color: #fff;
    border: 1px dashed #4e5d9d;
    flex-grow: 0;
}
#dashboard-widgets {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
}
.widget {
    flex-grow: 0;
}
.widget .panel {
    margin: 5px;
}
.widget .panel-heading {
    cursor: -moz-grab;
    cursor: -webkit-grab;
    cursor: grab;
}
