{% block _updatecompany_action_widget %}
  <div class="row">
    <div class="col-xs-12">
      <h4 class="mb-sm">{{ 'mautic.lead.company.update.action.help'|trans }}</h4>
    </div>
    {% for child in form.children %}
        <div class="form-group col-xs-6">
            {{ form_label(child) }}
            {{ form_widget(child) }}
        </div>
    {% endfor %}
  </div>
{% endblock %}
