<p class="alert alert-info" style="margin:15px 0 0">
    <i class="ri-external-link-line"></i>
    <a class="alert-link" href="https://mautic.org/docs/en/plugins/dynamics_crm.html" target="_blank">{{ 'mautic.plugin.dynamics.doc_link'|trans }}</a>
</p>
