{#
    @copyright   2014 Mautic Contributors. All rights reserved
    @author      Mautic
    @link        http://mautic.org
    @license     GNU/GPLv3 http://www.gnu.org/licenses/gpl-3.0.html
#}

{% set start = 1 %}
<div id="stepNavigation" class="hidden-xs">
    <ul class="horizontal-step">
        {% for start in 1..count-1 %}
        <li{{ (start == step) ? ' class="active"' : '' }}>
            {% set url = (start == step or (start in completedSteps) or (start - 1 in completedSteps)) ? path('mautic_installer_step', {'index' : start}) : '#' %}
            <a href="{{ url }}" class="steps{{ ('#' == url) ? ' disabled' : '' }}">
                <span class="steps-figure">{{ ('mautic.install.step.'~start)|trans }}</span>
            </a>
        </li>
        {% set start = start + 1 %}
        {% endfor %}
    </ul>
    <div class="clearfix"></div>
</div>