.*
!.gitignore
!.htaccess
/app/bootstrap*
/app/tests.bootstrap*
/app/cache/*
/app/logs/*
/app/config/local.php
/app/bundles/CoreBundle/Resources/public/css/bootstrap_less/*.css
/app/bundles/CoreBundle/Resources/public/css/less/*.css
/app/Resources/SensioGeneratorBundle
/app/phpunit.xml
/web
/vendor/*
/bin/*
/composer.phar
/composer.lock
/assetic
/bundles
/assets/css/mautic*
/assets/js/mautic*
/assets/css/font-awesome/less
/assets/css/font-awesome/scss
/css