[submodule "plugins/MauticNetworkBundle"]
	path = plugins/MauticNetworkBundle
	url = git@github.com:mautic-internal/mautic-network-plugin.git
[submodule "plugins/RandomizerBundle"]
	path = plugins/RandomizerBundle
	url = git@github.com:mautic-internal/plugin-randomizer
[submodule "plugins/MauticSlooceTransportBundle"]
	path = plugins/MauticSlooceTransportBundle
	url = git@github.com:mautic-inc/plugin-slooce
[submodule "plugins/IntegrationsBundle"]
	path = plugins/IntegrationsBundle
	url = git@github.com:mautic-inc/plugin-integrations.git
[submodule "plugins/MagentoBundle"]
	path = plugins/MagentoBundle
	url = git@github.com:mautic-inc/plugin-magento
[submodule "plugins/MauticRecaptchaBundle"]
	path = plugins/MauticRecaptchaBundle
	url = git@github.com:mautic-inc/mautic-recaptcha.git
[submodule "plugins/MauticVtigerCrmBundle"]
	path = plugins/MauticVtigerCrmBundle
	url = git@github.com:mautic-inc/plugin-vtiger.git
[submodule "plugins/MauticCloudZapierBundle"]
	path = plugins/MauticCloudZapierBundle
	url = git@github.com:mautic-inc/plugin-cloud-zapier.git
