.*
!.gitignore
!.htaccess
/mautic/app/bootstrap*
/mautic/app/tests.bootstrap*
/mautic/app/cache/*
/mautic/app/logs/*
/mautic/app/config/local.php
/mautic/app/Resources/SensioGeneratorBundle
/mautic/app/phpunit.xml
/mautic/web
/mautic/vendor/*
/mautic/bin/*
/mautic/composer.phar
/mautic/composer.lock
/assetic
/bundles
/media/css
/media/js
/media/font-awesome/less
/media/font-awesome/scss
bootstrap_less/
bootstrap.less
/css