.*
!.gitignore
!.htaccess
!.gitkeep
.php_cs.cache
/.env
/composer.phar

/app/bootstrap*
/app/tests.bootstrap*
/app/phpunit.xml

/app/bundles/CoreBundle/Assets/css/app/less/**/*.css
/app/bundles/CoreBundle/Assets/css/libraries/**/*.css
/app/bundles/CoreBundle/Assets/css/libraries/Froala/plugins/*.css
!/app/bundles/CoreBundle/Assets/css/libraries/builder.css
!/app/bundles/CoreBundle/Assets/css/libraries/froala/plugins/gated_video.css
!/app/bundles/CoreBundle/Assets/css/*.css

/app/cache/*
!/app/cache/.gitkeep

/app/config/local*.php
/app/config/config_local.php
/app/config/paths_local.php

/app/logs/*
!/app/logs/.gitkeep

/app/Resources/SensioGeneratorBundle
/app/spool/*

/vendor/*
!/vendor/.htaccess

/bin/*
/bundles
/node_modules
/build/coverage
/build/packaging
/build/packages/*
!/build/packages/.placeholder
/mockup
/upgrade
/upgrade_errors.txt

/media/dashboards/*
!/media/dashboards/*.json
/media/files/*
!/media/files/.htaccess
/media/images/*
!/media/images/flags
!/media/images/mejs
!/media/images/apple-touch-icon.png
!/media/images/avatar.png
!/media/images/favicon.ico
!/media/images/mautic_logo*
!/media/images/.htaccess

/plugins/*
!/plugins/MauticCitrixBundle
!/plugins/MauticClearbitBundle
!/plugins/MauticCloudStorageBundle
!/plugins/MauticCrmBundle
!/plugins/MauticDynamicsBundle
!/plugins/MauticEmailMarketingBundle
!/plugins/MauticFocusBundle
!/plugins/MauticFullContactBundle
!/plugins/MauticGmailBundle
!/plugins/MauticOutlookBundle
!/plugins/MauticSocialBundle
!/plugins/MauticMessageBirdBundle
!/plugins/index.html

/themes/*
!/themes/aurora
!/themes/blank
!/themes/cards
!/themes/coffee
!/themes/fresh-center
!/themes/fresh-fixed
!/themes/fresh-left
!/themes/fresh-wide
!/themes/goldstar
!/themes/Mauve
!/themes/nature
!/themes/neopolitan
!/themes/oxygen
!/themes/skyline
!/themes/sparse
!/themes/sunday
!/themes/vibrant
!/themes/blank.png
!/themes/blank-big.png

/translations
