includes:
	- phpstan-baseline.neon
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
	tmpDir: ./var/cache/phpstan
	level: 6
	reportUnmatchedIgnoredErrors: false
	checkGenericClassInNonGenericObjectType: false
	parallel:
		maximumNumberOfProcesses: 4
		processTimeout: 1000.0
	paths:
		- app/bundles
		- app/migrations
		- plugins
	excludePaths:
		- *.html.php
		- *.js.php
		- *.less.php
		- *.inc.php
		- app/bundles/CoreBundle/Controller/AbstractFormController.php
		- app/bundles/CoreBundle/Controller/AbstractStandardFormController.php
	dynamicConstantNames:
		- MAUTIC_ENV
		- MAUTIC_TABLE_PREFIX
		- MAUTIC_VERSION
	bootstrapFiles:
		- phpstan-bootstrap.php
	ignoreErrors:
		- '/Variable \$\w+ might not be defined\./'
		- '#Parameter \$factory of method Mautic\\CoreBundle\\Model\\AbTest\\AbTestResultService::\_construct\(\) has typehint with deprecated class Mautic\\CoreBundle\\Factory\\MauticFactory#'
	scanFiles:
		# This is here because a few functions in the global namespace are defined in this file
		- vendor/twig/twig/src/Extension/EscaperExtension.php
	doctrine:
		objectManagerLoader: tests/object-manager.php
		allowNullablePropertyForRequiredField: true
	symfony:
		containerXmlPath: var/cache/test/AppKernelTestDebugContainer.xml
		consoleApplicationLoader: app/console-application.php
		