includes:
	- phpstan-baseline.neon
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
	tmpDir: ./var/cache/phpstan
	level: 6
	reportUnmatchedIgnoredErrors: false
	parallel:
		maximumNumberOfProcesses: 4
		processTimeout: 1000.0
	paths:
		- app/bundles
		- app/migrations
		- plugins
	excludePaths:
		- *.html.php
		- *.js.php
		- *.less.php
		- *.inc.php
		- app/bundles/CoreBundle/Assets/js/libraries/ckeditor/*
		- app/bundles/CoreBundle/Controller/AbstractFormController.php
		- app/bundles/CoreBundle/Controller/AbstractStandardFormController.php
		- app/bundles/CoreBundle/Tests/_support/*
		- app/bundles/CoreBundle/Tests/Functional/IpLookupFactoryCest.php
		- app/bundles/CoreBundle/Tests/Unit/Doctrine/ArrayTypeTest.php
		- app/bundles/CoreBundle/Views/Helper/action_button_helper.php
		- app/bundles/FormBundle/Views/Field/field_helper.php
		- app/bundles/CoreBundle/Loader/ParameterLoader.php
		- app/bundles/CoreBundle/Helper/PathsHelper.php
		- app/bundles/CoreBundle/Configurator/Configurator.php
		- app/bundles/CoreBundle/Entity/UpsertTrait.php
	dynamicConstantNames:
		- MAUTIC_ENV
		- MAUTIC_TABLE_PREFIX
		- MAUTIC_VERSION
	ignoreErrors:
		- '#Cannot unset offset#'
		- '#Undefined variable: \$parameters#'
		- '#Constant MAUTIC_TABLE_PREFIX not found.#'
		- '#Constant MAUTIC_ENV not found.#'
		- '#Constant MAUTIC_VERSION not found.#'
		- '/Variable \$\w+ might not be defined\./'
		- '/Variable \$paths in isset\(\) is never defined\./'
		- '#Property Mautic\\LeadBundle\\EventListener\\SegmentFiltersSubscriber::\$translator \(Symfony\\Component\\Translation\\TranslatorInterface\) in isset\(\) is not nullable\.#' # this is antipatern, should be refactored.
		- '#Call to an undefined static method static\(Mautic\\IntegrationsBundle\\Bundle\\AbstractPluginBundle\)::installAllTablesIfMissing\(\).#'
		# Following 2 ignores are there due to https://symfony.com/blog/new-in-symfony-4-3-simpler-event-dispatching
		- '#Method Symfony\\Contracts\\EventDispatcher\\EventDispatcherInterface::dispatch\(\) invoked with 2 parameters, 1 required\.#'
		- '#Parameter \#1 \$event of method Symfony\\Contracts\\EventDispatcher\\EventDispatcherInterface::dispatch\(\) expects object, string given\.#'
		# Following will be fixed in new PHP version. See https://github.com/doctrine/dbal/issues/4264
		- '#Return type of call to static method Doctrine\\DBAL\\DriverManager::getConnection\(\) contains unresolvable type\.#'
