<html>
    <head>
    </head>
    <body style="background: #f7f7f7; margin:0; font-family: Helvetica Neue, Helvetica, Arial, sans-serif;">
        <div style="background-color: #F3F3F3; border-bottom: 2px solid #D3D2D2;">
            <table style="border-collapse: collapse; width: 600px; min-height: 50px; margin: 0 auto;">
                <tr>
                    <td data-slot-container style="vertical-align: top; padding: 30px 50px; font-size: 28px; line-height: 1.5em; color: #999999;">
                        <div data-slot="text">
                            <h2 style="text-align: center;">Hello there!</h2>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div style="border-top: 2px solid #E2E2E2;">
            <table style="border-collapse: collapse; width: 600px; font-family: Helvetica, Arial, sans-serif;font-size: 14px;color: #333333; margin: 0 auto;">
                <tr>
                    <td data-slot-container style="vertical-align: top; padding: 30px 50px; font-size: 17px; line-height: 1.7em;">
                        <div data-slot="text">
                            We haven't heard from you for a while...
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td data-slot-container style="vertical-align: top; padding: 30px 50px; font-size: 12px; line-height: 1.5em;">
                        <div data-slot="text">
                            <div style="text-align: center;">{unsubscribe_text}‍ | {webview_text}‍</div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>
