{% extends ":coffee:base.html.twig" %}

{% block content %}
<div id="header">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4" data-slot-container><div data-slot="text"></div></div>
            <div class="col-xs-12 col-sm-4" data-slot-container><div data-slot="text"></div></div>
            <div class="col-xs-12 col-sm-4 pull-right" data-slot-container><div data-slot="text"></div></div>
        </div>
    </div>
</div>

<div id="content" class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="row">
                <div class="col-xs-12" data-slot-container>
                    <div data-slot="text"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6" data-slot-container>
                    <div data-slot="text"></div>
                </div>
                <div class="col-xs-6" data-slot-container>
                    <div data-slot="text"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4" data-slot-container><div data-slot="text"></div></div>
            <div class="col-xs-12 col-sm-4" data-slot-container><div data-slot="text"></div></div>
            <div class="col-xs-12 col-sm-4 pull-right" data-slot-container><div data-slot="text"></div></div>
        </div>
    </div>
</div>

<div id="copyright">
    <div class="container">
        <div class="row">
            <div class="col-xs-12" data-slot-container><div data-slot="text"></div></div>
        </div>
    </div>
</div>
{% endblock %}
