<!DOCTYPE html>
<html>
    <head>
        <title>{pagetitle}</title>
        <meta name="description" content="{pagemetadescription}">
        {{ outputHeadDeclarations() }}
    </head>
    <body>
        {{ outputScripts('bodyOpen') }}
        {% block content %}{% endblock %}
        {{ outputScripts('bodyClose') }}
    </body>
</html>