{% extends ":"~template~":base.html.twig" %}

{% block content %}
    {% if message is defined %}
        <div>
            <p>{{ message|raw }}</p>
        </div>
    {% endif %}

    <div>
        {% if header is defined %}
        <h4>{{ header }}</h4>
        {% endif %}
        {{ content|raw }}
    </div>
{% endblock %}