{% extends ":blank:base.html.twig" %}

{% block content %}
<div data-slot-container>
    <div data-slot="text">
        <h2>Hello there!</h2>
        <br>
        We haven't heard from you for a while...
    </div>
</div>
{% endblock %}
