{% set isIndex = 'index' == tmpl ? true : false %}
{% set tmpl = 'list' %}
{% extends isIndex ? 'MauticCoreBundle:Default:content.html.twig' : 'MauticCoreBundle:Default:raw_output.html.twig' %}

{% block mauticContent %}monitoring{% endblock %}

{% block headerTitle %}{{ 'mautic.social.monitoring'|trans }}{% endblock %}

{% block actions %}
    {{ include('MauticCoreBundle:Helper:page_actions.html.twig', {
            'templateButtons': {
                'new': securityIsGranted('mauticSocial:monitoring:create'),
            },
            'routeBase': 'social',
            'langVar': 'monitoring',
    }) }}
{% endblock %}

{% block content %}
  {% if isIndex %}
    <div class="panel panel-default bdr-t-wdh-0 mb-0">
        {{ include('MauticCoreBundle:Helper:list_toolbar.html.twig', {
                'searchValue': searchValue,
                'action': currentRoute,
        }) }}
        <div class="page-list">
  {% endif %}

  {{ include('MauticSocialBundle:Monitoring:_list.html.twig') }}

  {% if isIndex %}
        </div>
    </div>
  {% endif %}
{% endblock %}
