<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="form-group col-xs-12">
                {{ form_row(form.handle) }}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="form-group col-xs-12">
                {{ form_row(form.checknames) }}
            </div>
        </div>
    </div>
</div>
