{#
  Variables
    - searchValue
    - items
    - totalItems
    - page
    - limit
    - tmpl
    - permissions
    - model
    - security
#}
{% extends app.request.isXmlHttpRequest ? 'MauticCoreBundle:Default:raw_output.html.twig' : 'MauticCoreBundle:Default:content.html.twig' %}

{% block mauticContent %}notification{% endblock %}

{% block headerTitle %}{{ 'mautic.notification.notifications'|trans }}{% endblock %}

{% block actions %}
    {{ include('MauticCoreBundle:Helper:page_actions.html.twig', {
            'templateButtons': {
                'new': permissions['notification:notifications:create'],
            },
            'routeBase': 'notification',
    }) }}
{% endblock %}

{% block content %}
  {% if not app.request.isXmlHttpRequest %}
    <div class="panel panel-default bdr-t-wdh-0 mb-0">
        {{ include('MauticCoreBundle:Helper:list_toolbar.html.twig', {
                'searchValue': searchValue,
                'searchHelp': 'mautic.notification.help.searchcommands',
                'searchId': 'notification-search',
                'action': currentRoute,
        }) }}
        <div class="page-list">
  {% endif %}

  {{ include('MauticNotificationBundle:Notification:_list.html.twig') }}

  {% if not app.request.isXmlHttpRequest %}
        </div>
    </div>
  {% endif %}
{% endblock %}
