/* UserBundle */

.login-container {
    background-color: #513B49;
    height: 100%;
    color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 280px;
    margin: 50px auto 50px;
    text-align: center;
    height: 100%;
}

.profile-details {
    margin-bottom: 20px;
}

.gs-user-avatar {
    float: left;
    margin: 0 8px;
}

.gs-user-name {
    font-weight: bold;
    display: block;
}

.gs-user-position {
    font-size: 0.8em;
    display: block;
    line-height: 0.8em;
}

.gs-role-name {
    font-weight: bold;
    display: block;
    padding: 8px;
}