/* UserBundle */

.login-container {
    background-color: #513B49;
    color: #fff;
    width: 320px;
    height: 320px;
    background-color: #513B49;
    margin-left: auto;
    margin-right: auto;
    margin: 50px auto 50px;
    text-align: center;
}

.profile-details {
    margin-bottom: 20px;
}

.gs-user-avatar {
    float: left;
    margin: 0 8px;
}

.gs-user-name {
    font-weight: bold;
    display: block;
}

.gs-user-position {
    font-size: 0.8em;
    display: block;
    line-height: 0.8em;
}

.gs-role-name {
    font-weight: bold;
    display: block;
    padding: 8px;
}

.col-user-actions, .col-user-id, .col-role-actions, .col-role-id {
    width: 75px;
}

.col-user-avatar {
    width: 75px;
}