{#
    @copyright   2014 Mautic Contributors. All rights reserved
    @author      Mautic
    @link        http://mautic.org
    @license     GNU/GPLv3 http://www.gnu.org/licenses/gpl-3.0.html
#}

{# TODO: continue #}

{% for child in form.children %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                {% trans %}child.vars.label{% endtrans %}
            </h3>
        </div>
        <div class="panel-body">
            {% set tooltip =  %}
            <?php $tooltip = $view['translator']->hasId($child->vars['label'].'.tooltip') ? $view['translator']->trans($child->vars['label'].'.tooltip') : ''; ?>
            {% if tooltip %}
                <p>{{ tooltip }}</p>
            {% endif %}
            {{ form_widget(child) }}
        </div>
    </div>
{% endfor %}

{% for child in form.children %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            {% trans %}child.vars.label{% endtrans %}
        </h3>
    </div>
    <div class="panel-body">
        <?php $tooltip = $view['translator']->hasId($child->vars['label'].'.tooltip') ? $view['translator']->trans($child->vars['label'].'.tooltip') : ''; ?>
        {% if tooltip %}
            <p>{{ tooltip }}</p>
        {% endif %}
        {{ form_widget(child) }}
    </div>
</div>
{% endfor %}
