<li class="dropdown dropdown-custom" id="globalSearchDropdown">
    <div class="dropdown-menu">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <h6 class="fw-sb">{% trans %}mautic.core.search.results{% endtrans %}</h6>
                </div>
            </div>
            <div class="pt-0 pb-xs pl-0 pr-0">
                <div class="scroll-content slimscroll" style="height:250px;" id="globalSearchResults">
                    {{ include('@MauticCore/GlobalSearch/results.html.twig', {results: results}) }}
                </div>
            </div>
        </div>
    </div>
</li>
<li>
    <div class="search-container" id="globalSearchContainer">
        <a href="javascript: void(0);" class="search-button btn btn-icon-only btn-nospin">
            <svg width="20" height="20" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="m21.75 20.692-5.664-5.664a8.264 8.264 0 1 0-1.06 1.061l5.664 5.664 1.06-1.06ZM3 9.753a6.75 6.75 0 1 1 6.75 6.75A6.758 6.758 0 0 1 3 9.753Z"></path>
            </svg>
        </a>
        <input
            type="search"
            value="{{ searchString|escape }}"
            class="form-control search"
            id="globalSearchInput"
            name="global_search"
            placeholder="{% trans %}mautic.core.search.everything.placeholder{% endtrans %}"
            autocomplete="false"
            data-toggle="livesearch"
            data-target="#globalSearchResults"
            data-action="{{ path('mautic_core_ajax', {action: 'globalSearch'}) }}"
            data-overlay="true"
            data-overlay-text="{% trans %}mautic.core.search.livesearch{% endtrans %}" />
    </div>
</li>
