{#
  Variables
    - event
    - id
    - sessionId
    - deleted (bool, optional)
#}
{% set deleted = deleted|default(false) %}
<div class="trigger-event-row {% if deleted %}bg-danger{% endif %}" id="triggerEvent_{{ id }}">
    {{ include('@MauticPoint/Event/actions.html.twig', {
        'deleted': deleted,
        'id': id,
        'route': 'mautic_pointtriggerevent_action',
        'sessionId': sessionId|default(''),
    }) }}
    <span class="trigger-event-label">{{ event.name }}</span>
    {% if event.description is not empty %}
      <span class="trigger-event-descr">{{ event.description|purify }}</span>
    {% endif %}
</div>
