{#
#}
{% set isIndex = 'index' == tmpl ? true : false %}
{% set tmpl = 'list' %}
{% extends isIndex ? '@MauticCore/Default/content.html.twig' : '@MauticCore/Default/raw_output.html.twig' %}

{% block mauticContent %}focus{% endblock %}

{% block headerTitle %}{{ 'mautic.focus'|trans }}{% endblock %}

{% block actions %}
    {{ include('@MauticCore/Helper/page_actions.html.twig', {
            'templateButtons': {
                'new': permissions['focus:items:create'],
            },
            'routeBase': 'focus',
    }) }}
{% endblock %}

{% block content %}
  {% if isIndex %}
    <div class="panel panel-default bdr-t-wdh-0 mb-0">
        {{ include('@MauticCore/Helper/list_toolbar.html.twig', {
                'searchValue': searchValue,
                'searchHelp': 'mautic.core.help.searchcommands',
                'action': currentRoute,
        }) }}
        <div class="page-list">
  {% endif %}

  {{ include('@MauticFocus/Focus/_list.html.twig') }}

  {% if isIndex %}
        </div>
    </div>
  {% endif %}
{% endblock %}
