/* EmailBundle */

.col-email-id, .col-email-abtest-sentcount, .col-email-abtest-readcount {
    width: 75px;
}

.col-email-actions {
    width: 25px;
}

.email-builder {
    position: relative;
}
.email-builder-active {
    background-color: #fff !important;
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 8000;
}

.email-builder-panel {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 250px;
    height: 100%;
    padding: 15px;
    background-color: #604656;
    overflow-y: auto;
}

.email-builder-panel .panel-body {
    padding: 0;
}

.email-builder-panel .btn-close-builder {
    width: 100%;
}

.email-builder-content {
    position: fixed;
    left: 0;
    top: 0;
    right: 250px;
    height: 100%;
    position: fixed;
}