/* EmailBundle */

.col-email-id, .col-email-abtest-sentcount, .col-email-abtest-readcount {
    width: 75px;
}

.col-email-actions {
    width: 25px;
}

.email-builder .builder-panel .panel-body {
    padding: 5px 0;
}

.table-bordered {
	border-left: 0; 
}

.table-bordered.email-list > thead > tr > th:first-child, .table-bordered.email-list > thead > tr > th:first-child, .table-bordered.email-list > tbody > tr > td:first-child {
	border-left: 0px;
}