/* EmailBundle */

.col-email-id, .col-email-abtest-sentcount, .col-email-abtest-readcount {
    width: 75px;
}

.col-email-actions {
    width: 25px;
}

.email-builder .builder-panel .panel-body {
    padding: 5px 0;
}