.container-preview {
    margin: 5px auto;
    width: 100%;
    max-width: none;
}

.top-bar a {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

.top-bar form {
    display: flex;
    width: 40%;
    margin: 0 auto;
    justify-content: space-around;
}
