{% extends ":Mauve:base.html.twig" %}

{% block content %}
    {% if message is defined %}
        <div class="well text-center">
            <h2>{{ message }}</h2>
        </div>
    {% endif %}

    <div class="form-container">
        {% if header is defined %}
        <h4>{{ header }}</h4>
        {% endif %}
        {% autoescape false %}
        {{ content }}
        {% endautoescape %}
    </div>
{% endblock %}