{% extends ":Mauve:base.html.twig" %}

{% block content %}
    <div class="well text-center">
        <h2>{{ message }}</h2>
        {% if content is defined %}
        <div class="text-left">{{ content }}</div>
        {% endif %}
    </div>
{% endblock %}