{% extends ":Mauve:base.html.twig" %}

{% block content %}
    <!-- Page Content -->
    <div class="container">
        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <div data-slot="text">
                    <h2 class="page-header" style="text-align: center;">Find out more about our service</h2>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div data-slot="text"></div>
                    </div>
                    <div class="panel-body">
                        <div data-slot="text"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div data-slot="text"></div>
                    </div>
                    <div class="panel-body">
                        <div data-slot="text"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div data-slot="text"></div>
                    </div>
                    <div class="panel-body">
                        <div data-slot="text"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <div data-slot="text"></div>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Section -->
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <div data-slot="text"></div>
                </div>
                <div class="col-md-4">
                    <div data-slot="text"></div>
                </div>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <div data-slot="text"></div>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

{% endblock %}
