<mjml>
  <mj-body width="100%">
	<mj-raw>
	  <!-- Company Header -->
	  <mj-text>Hi {contactfield=firstname},
		<br>This is the personal email template.
		<br>
		<br>The purpose of this template is to look as "normal" as possible.
		<br>Many companies try to stand out with their newsletter.
		<br>This template is different.
		<br>
		<br>As a "personal brand" it makes sense to look like a regular person sending regular emails.
		<br>Use this template to do so!
		<br>
		<br>{signature}
		<br>
		<br>
		<span style="color: #838383;font-size:10px;">{unsubscribe_text}</span>
	  </mj-text>
	</mj-raw>
  </mj-body>
</mjml>
