<div class="row">
    <div {% with { attr: {class: 'col-sm-12'}|merge(attr) } %} {{ block('attributes') }}{% endwith %}>
        <div class="alert alert-{{ messageType }}">
            {{ message }}
        </div>
    </div>
</div>
