[mysqldump]
# the shivammathur/setup-php@v2 github action image uses mysqldump 8 in it's image,
# which enables column statistics by default.
# we don't need / want that, so we disable it here.
column-statistics=0
