[mysqldump]
# the shivammathur/setup-php@v2 github action image uses mysqldump 8 in it's image,
# which enables column statistics by default.
# we don't need / want that, so we disable it here.
column-statistics=0
# MySQL 9.5+ made GTID mode the default,
# which break out restore logic.
# we don't need / want that, so we disable it here.
set-gtid-purged=OFF
