<div class="alert alert-info">{{ 'mautic.plugin.clearbit.submit_items'|trans }}</div>
<div style="margin-top: 10px">
    <ul class="list-group" style="max-height: 400px;overflow-y: auto">
        {% for item in lookupItems %}
            <li class="list-group-item">{{ item }}</li>
        {% endfor %}
    </ul>
</div>

<script>
    (function () {
        var ids = Mautic.getCheckedListIds(false, true);
        if (mQuery('#clearbit_batch_lookup_ids').length) {
            mQuery('#clearbit_batch_lookup_ids').val(ids);
        }
    })();
</script>
{{ form(form) }}
