{% block _dynamiccontentpush_list_row %}
  <div class="row">
      <div class="col-xs-8">
          {{ form_row(form.dynamicContent) }}
      </div>
      <div class="col-xs-4 mt-lg">
          <div class="mt-3">
              {{ form_row(form.newDynamicContentButton) }}
          </div>
      </div>
  </div>
{% endblock %}
