{% extends ":sunday:base.html.twig" %}

{% block content %}
    <div style="width: 800px; margin: 40px auto">
        <h2>{{ message|raw }}</h2>
        {% if content is defined %}
        <div class="text-left">{{ content|raw }}</div>
        {% endif %}
    </div>
{% endblock %}
