{% extends '@MauticCore/Default/slim.html.twig' %}
{% set alertClass = authenticationError ? 'danger' : 'success' %}
{% block content %}
<style>
    #app-content {margin: 0;}
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-{{ alertClass }} margin" style="margin:20px" role="alert">
            {{ message }}
        </div>
    </div>
</div>
<div class="row text-center">
    <button type="button" id="integration_details_authButton" name="integration_details[authButton]" class="btn btn-success btn-lg" onclick="window.close();">
        <i class="fa fa-check"></i>
        {{ 'mautic.integration.closewindow'|trans }}
    </button>
</div>
{% endblock %}
