{% extends ":"~template~":base.html.twig" %}

{% block content %}
<div data-section-wrapper="1" style="width:100%;background-color: #f7f7f7;font-family: Helvetica, Arial, sans-serif;font-size: 14px;color: #777777;text-align: center;line-height: 21px;border-collapse: collapse;padding: 20px 0 30px;" class="content-padding"></div>
{% endblock %}
