/* PageBundle */

.col-page-id {
    width: 75px;
}

.page-builder .builder-panel .panel-body {
    padding: 5px 0;
}

.create-abtest-link, .create-abtest-link:hover {
    color: #fff;
}

.create-abtest-link:hover {
    text-decoration: underline;
}