{% set hasErrors = form.vars.errors|length %}
{% set feedbackClass = hasErrors > 0 ? ' has-error' : '' %}
{% block _report_aggregators_row %}
    <div id="aggregatorsContainer" class="row">
        <div class="form-group col-md-12{{ feedbackClass }}">
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
        <div class="col-xs-12">
            <button id="aggregators-button" disabled type="button" class="btn btn-primary"
                    onclick="Mautic.addReportRow('report_aggregators');">{{ 'mautic.report.report.label.function'|trans }}</button>
        </div>
    </div>
{% endblock %}