<div class="well well-sm" style="margin-bottom:0 !important;">
    <p>
        {{ 'mautic.plugin.clearbit.webhook_info'|trans|purify }}
    </p>
    <div class="alert alert-warning">
        {{ 'mautic.plugin.clearbit.public_info'|trans|purify }}
    </div>
    <input type="text" readonly="" onclick="this.setSelectionRange(0, this.value.length);" value="{{ mauticUrl }}" class="form-control">
</div>
