<div class="content-body">
    {{ include('MauticCoreBundle:Default:pageheader.html.twig', {
        publishStatus: publishStatus|default(''),
        headerTitle: block('headerTitle') is defined ? block('headerTitle') : '',
        actions: block('actions') is defined ? block('actions') : '',
        toolbar: block('toolbar') is defined ? block('toolbar') : '',
        mauticTemplateVars: mauticTemplateVars|default([]),
    }) }}
    {{ content|raw }}
</div>
{{ modal|raw }}
{{ securityGetAuthenticationContext() }}
