<div class="content-body">
    {% if not request.isXmlHttpRequest() %}
        {{ include('MauticCoreBundle:Default:pageheader.html.twig') }}
    {% endif %}
    {{ content|raw }}
</div>
{{ modal|raw }}
{{ securityGetAuthenticationContext() }}
