/* UserBundle */

.profile-details {
    margin-bottom: 20px;
}

.col-user-id, .col-role-id {
    width: 75px;
}

.col-user-avatar {
    width: 75px;
}

.mautic-logo {
    width: auto;
    max-width: 240px;
    margin: 0 auto;
    background: #ffffff;
}

.mautic-logo > svg.mautic-logo-figure .circle {
    fill: #4e5e9e;
}

.mautic-logo > svg.mautic-logo-figure .m,
.mautic-logo > svg.mautic-logo-figure .m-arrow {
      fill: #fdb933;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

span.input-group-addon i.fa {
    width: 20px;
}

.inline-login .login-form {
    margin: 20px;
}

.login-page {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    overflow-y: hidden;
}

.login-page .panel-body {
    padding-top: 32px;
}

.login-page .input-group-addon {
    color: #c2d100;
}

.login-page .text-copyright {
    color: #E0E0E0;
}
.login-page p {
    color: #9E9E9E;
    font-size: 12px;
    line-height: 14px;
    margin: 0;
}