<!DOCTYPE html>
<html>
    <head>
        <title>{subject}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style type="text/css" media="only screen and (max-width: 480px)">
            /* Mobile styles */
            @media only screen and (max-width: 480px) {

                [class="w320"] {
                    width: 320px !important;
                }

                [class="mobile-block"] {
                    width: 100% !important;
                    display: block !important;
                }
            }
        </style>
    </head>
    <body style="font-family: Helvetica, Arial, sans-serif;color: #676767;width: 100%;margin: 0;">
    </body>
</html>
