
{% extends ":"~template~":base.html.twig" %}

{% block content %}
    <div class="container">
        <div class="well text-center">
            {{ message|raw }}
            {% if content is defined %}
            <div class="text-left">{{ content|raw }}</div>
            {% endif %}
        </div>
    </div>
{% endblock %}