a {
  color: #4e5d9d;
}
a:hover,
a:focus {
  color: #4e5d9d;
}

hr {
  border-top: 1px solid rgba(71, 85, 143, 0.5);
}

.panel-default {
  border-color: rgba(71, 85, 143, 0.5);
}

.well, .panel-default>.panel-heading {
  background-color: #4e5d9d;
  border-color: rgba(71, 85, 143, 0.5);
  color: #fff;
}

h1 {
  color: #4e5d9d;
}

