<?xml version="1.0" encoding="UTF-8"?>
<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false" bootstrap="autoload.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory>./../plugins/MauticTagManagerBundle</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="Plugin tests">
      <directory>./../plugins/MauticTagManagerBundle/Tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled"/>
    <env name="MAXMIND_LICENSE_KEY" value=""/>
    <env name="KERNEL_CLASS" value="AppKernel" />
    <const name="IS_PHPUNIT" value="true"/>
    <const name="MAUTIC_ENV" value="test"/>
    <server name="KERNEL_DIR" value="app"/>
    <server name="APP_DEBUG" value="0"/>
    <server name="DB_PASSWORD" value="root"/>
    <const name="DB_PASSWORD" value="root"/>
    <env name="DB_PASSWORD" value="root"/>
  </php>
  <listeners>
    <listener class="\Mautic\CoreBundle\Test\Listeners\CleanupListener" />
  </listeners>
</phpunit>
