<?xml version="1.0" encoding="UTF-8"?>
<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    backupGlobals="false"
    backupStaticProperties="false"
    colors="true"
    processIsolation="false"
    stopOnFailure="false"
    bootstrap="../vendor/autoload.php"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
    failOnRisky="true"
    failOnWarning="true"
    displayDetailsOnTestsThatTriggerDeprecations="true"
    displayDetailsOnPhpunitDeprecations="true"
    displayDetailsOnTestsThatTriggerErrors="true"
    displayDetailsOnTestsThatTriggerNotices="true"
    displayDetailsOnTestsThatTriggerWarnings="true"
    cacheDirectory="../var/cache/phpunit"
  >
  <source>
    <include>
      <directory>bundles</directory>
      <directory>./../plugins</directory>
      <directory>middlewares</directory>
    </include>
    <exclude>
      <directory>bundles/*Bundle/Config</directory>
      <directory>bundles/*Bundle/DataFixtures</directory>
      <directory>bundles/*Bundle/Tests</directory>
      <directory>bundles/*Bundle/Translations</directory>
      <directory>bundles/*Bundle/Views</directory>
      <directory>./../plugins/*Bundle/Config</directory>
      <directory>./../plugins/*Bundle/Tests</directory>
      <directory>./../plugins/*Bundle/Translations</directory>
      <directory>./../plugins/*Bundle/Views</directory>
      <directory>middlewares/Tests</directory>
      <directory>bundles/CoreBundle/Test</directory>
    </exclude>
  </source>
  <testsuites>
    <testsuite name="Project Test Suite">
      <directory>bundles/*Bundle/Tests</directory>
    </testsuite>
    <testsuite name="Plugin tests">
      <directory>./../plugins/*Bundle/Tests</directory>
    </testsuite>
    <testsuite name="Middleware tests">
      <directory>middlewares/Tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak"/>
    <env name="MAXMIND_LICENSE_KEY" value=""/>
    <env name="KERNEL_CLASS" value="AppTestKernel"/>
    <const name="IS_PHPUNIT" value="true"/>
    <const name="MAUTIC_ENV" value="test"/>
    <server name="KERNEL_DIR" value="app"/>
    <server name="APP_DEBUG" value="0"/>
    <server name="APP_ENV" value="test" force="true"/>
    <ini name="error_reporting" value="E_ALL"/>
    <ini name="date.timezone" value="UTC"/>
  </php>
  <extensions>
    <bootstrap class="\Mautic\CoreBundle\Test\Extensions\SeparateProcess\SeparateProcess" />
    <bootstrap class="\Mautic\CoreBundle\Test\Extensions\DbPrefix\DbPrefix" />
    <bootstrap class="\Mautic\CoreBundle\Test\Extensions\SlowTest\SlowTest" />
<!--    <bootstrap class="\Mautic\CoreBundle\Test\Extensions\Cleanup\Cleanup" />-->
  </extensions>
</phpunit>
