{% set alertType = alertType|default('growl') %}
<div id="flashes"{% if alertType == 'growl' %} class="alert-growl-container"{% endif %}>
    {{ include('@MauticCore/Notification/flash_messages.html.twig', {
        dismissable: notDismissable|default(false) == false ? ' alert-dismissable' : '',
        alertType: alertType
    }) }}
</div>
