<li class="dropdown dropdown-custom" id="notificationsDropdown">
    <a href="javascript: void(0);" onclick="Mautic.showNotifications();" class="dropdown-toggle dropdown-notification btn btn-icon-only btn-nospin" data-toggle="dropdown">
        {% set hideClass = updateMessage.isNew or showNewIndicator ? '' : ' hide' %}
        <span class="label label-danger{{ hideClass }}" id="newNotificationIndicator"><i class="fa fa-asterisk"></i></span>
        <i class="ri-notification-3-line ri-lg"></i>
    </a>
    <div class="dropdown-menu notifications-panel">
        <div class="panel panel-default content-widget">
            <div class="notifications-panel-header pl-lg">
                    <h5 class="fw-sb">{% trans %}mautic.core.notifications{% endtrans %}</h5>
                        <a href="javascript:void(0);" class="btn btn-ghost btn-nospin pull-right" aria-label="{% trans %}mautic.core.notifications.clearall{% endtrans %}" tabindex="0" onclick="Mautic.clearNotification(0);"><span>{% trans %}mautic.core.notifications.clearall{% endtrans %}</span></a>
            </div>
            <div class="pt-0 pb-xs pl-0 pr-0">
                <div class="scroll-content slimscroll" style="height: 60vh;" id="notifications">
                    {{ include('@MauticCore/Notification/notification_messages.html.twig', {
                        notifications: notifications,
                        updateMessage: updateMessage
                    }) }}
                    {% set class = notifications is not empty ? ' hide' : '' %}
                    <div class="pr-lg pl-lg pt-lg" style="color: white;">{% trans %}mautic.core.notifications.nothing{% endtrans %} <i class="ri-focus-2-line"></i></div>
                </div>
            </div>
            {% set lastNotification = notifications|first %}
            <input id="mauticLastNotificationId" type="hidden" value="{{ lastNotification.id is defined ? lastNotification.id|escape : '' }}" />
        </div>
    </div>
</li>
