{% set inline = menuRender('profile') %}
<li class="dropdown">
    <a class="btn btn-icon-only dropdown-toggle" data-toggle="dropdown" href="#">
        <span class="img-wrapper img-rounded"><img src="{{ gravatarGetImage(app.getUser().getEmail()) }}"></span>
    </a>
    <ul class="dropdown-menu dropdown-menu-right">
        <li>
            <button href="{{ path('mautic_user_account') }}" data-toggle="ajax">
                <span>{% trans %}mautic.user.account.settings{% endtrans %}</span><svg width="16" height="16" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 17c3.662 0 6.865 1.575 8.607 3.925l-1.842.871C17.347 20.116 14.847 19 12 19c-2.847 0-5.347 1.116-6.765 2.796l-1.841-.872C5.136 18.574 8.338 17 12 17Zm0-15a5 5 0 0 1 5 5v3a5 5 0 0 1-4.783 4.995L12 15a5 5 0 0 1-5-5V7a5 5 0 0 1 4.783-4.995L12 2Zm0 2a3 3 0 0 0-2.995 2.824L9 7v3a3 3 0 0 0 5.995.176L15 10V7a3 3 0 0 0-3-3Z"></path>
                    </svg>
            </button>
        </li>
        <li>
            <button href="{{ path('mautic_user_logout') }}">
                <span>{% trans %}mautic.user.auth.logout{% endtrans %}</span><svg width="16" height="16" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2a9.985 9.985 0 0 1 8 4h-2.71a8 8 0 1 0 .001 12h2.71A9.985 9.985 0 0 1 12 22Zm7-6v-3h-8v-2h8V8l5 4-5 4Z"></path>
                    </svg>
            </button>
        </li>

        {% if inline %}
        <li role="separator" class="divider"></li>
        {{ inline }}
        {% endif %}
    </ul>
</li>