{% set inline = menuRender('profile') %}
<li class="dropdown">
    <a class="btn btn-icon-only dropdown-toggle" data-toggle="dropdown" href="#">
        <span class="img-wrapper img-rounded"><img src="{{ gravatarGetImage(app.getUser().getEmail()) }}"></span>
    </a>
    <ul class="dropdown-menu dropdown-menu-right">
        <li>
            <a href="{{ path('mautic_user_account') }}" data-toggle="ajax">
                <span>{% trans %}mautic.user.account.settings{% endtrans %}</span><i class="fa fa-user fs-14"></i>
            </a>
        </li>
        <li>
            <a href="{{ path('mautic_user_logout') }}">
                <span>{% trans %}mautic.user.auth.logout{% endtrans %}</span><i class="fa fa-sign-out fs-14"></i>
            </a>
        </li>

        {% if inline %}
        <li role="separator" class="divider"></li>
        {{ inline }}
        {% endif %}
    </ul>
</li>