<li class="dropdown">
    <a class="dropdown-toggle quick-help" data-toggle="dropdown" href="#">
        <i class="ri-question-line ri-xl"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-right">
        <li>
            <a data-toggle="modal" data-target="#keyboardShortcutsModal">
                <span>
                    <i class="ri-keyboard-box-line"></i>
                    <span>{{ 'mautic.keyboard.shortcuts'|trans }}</span>
                </span>
            </a>
        </li>
        <li>
            <a data-toggle="modal" data-target="#searchCommandsModal">
                <span>
                    <i class="ri-menu-search-line"></i>
                    <span>{{ 'mautic.core.help.searchcommands.title'|trans }}</span>
                </span>
            </a>
        </li>
        <li>
            <a data-toggle="modal" data-target="#tokenPlaceholdersModal">
                <span>
                    <i class="ri-braces-line"></i>
                    <span>{{ 'mautic.placeholder_tokens.placeholder_tokens'|trans }}</span>
                </span>
            </a>
        </li>
    </ul>
</li>