<div class="row">
    <div class="col-md-5 pull-right">
        {{ form_start(form) }}
            <div class="input-group">
                {{ form_widget(form.file) }}
                <span class="input-group-btn">
                    {{ form_widget(form.start) }}
                </span>
            </div>
        {{ form_end(form) }}
    </div>
</div>
