{% extends "@MauticCore/Default/content.html.twig" %}

{% set mauticContent = 'theme' %}
{% set headerTitle = 'mautic.core.themes'|trans %}

{% block headerTitle %}{{ headerTitle }}{% endblock %}

{% block actions %}
  {% include "@MauticCore/Theme/form.html.twig" with {
      form: form
    }
  %}
{% endblock %}

{% block content %}
<div class="panel panel-default bdr-t-wdh-0 mb-0">
  {% include "@MauticCore/Helper/list_toolbar.html.twig" with {
    action: currentRoute,
  } %}
    <div class="page-list">
        {% if block('mainContent') is defined %}{{ block('mainContent') }}{% endif %}
    </div>
</div>
{% endblock %}