<div class="chart-wrapper">
    <div>
        <div {% if chartHeight is defined %} style="height: calc({{ chartHeight }}px - 15px)" {% endif %}>
            {% if  chartType is defined %}
                <canvas class="chart {{ chartType }}-chart" {{ disableLegend is defined ? 'data-disable-legend' : '' }}>
                    {{ chartData|json_encode }}
                </canvas>
            {% endif %}
        </div>
    </div>
</div>
