{% if tip is defined and tip is not empty %}
<div class="col-xs-12 ai-center mt-md mb-md">
    <div class="text-muted text-center">
        <i class="ri-lightbulb-line ri-lg"></i>
        <span class="fw-b">{{'mautic.core.protip'|trans}}</span>
        {{tip|trans|raw}}
    </div>
</div>
{% endif %}