{% set labelColor %}
    {%- if entity.getPublishStatus() is same as('published') -%}
        success
    {%- elseif entity.getPublishStatus() is same as('unpublished') or entity.getPublishStatus() is same as('expired') -%}
        danger
    {%- elseif entity.getPublishStatus() is same as('pending') -%}
        warning
    {%- endif -%}
{% endset %}
{% set status = entity.getPublishStatus() %}
{% set labelText = ('mautic.core.form.' ~ (status == 'published' ? 'active' : 'inactive'))|trans %}
<span title="{{ labelText }}" aria-label="{{ labelText }}" class="pa-10 bg-{{ labelColor }} mt-3 label label-{{ labelColor }}"> </span>