.col-asset-actions, .col-assetlist-actions, .col-assetfield-actions {
    width: 25px;
}
.thumbnail-preview img {
	height: 100px;
}
.modal-body-content iframe, .preview-detail iframe {
	height: 400px;
}