/* LeadBundle */
.gs-lead-primary-identifier {
    display: block;
}

.gs-lead-secondary-identifier {
    font-size:0.9em;
}

.col-leadfield-id, .col-leadfield-actions {
    width: 75px;
}

.col-leadfield-statusicons {
    width: 100px;
}

.col-leadfield-orderhandle {
    width: 25px;
}

.col-leadfield-type {
    width: 125px;
}

.lead-filter-container {
    height: 75px;
}
.lead-filter-container select {
    margin-top: 2px;
 }

.leadfield-list .fa-asterisk:hover, .leadfield-list .fa-eye:hover, .leadfield-list .fa-lock:hover, .leadfield-list .fa-list:hover {
    color: #7D5B71;
}

.leadlist-filter a {
    text-decoration: none;
}

.leadlist-filter:hover {
    background-color: #ecf0f1;
}

.leadlist-filter {
    height: 40px;
    border-bottom: 1px solid #cccccc;
    overflow: hidden;
}

.leadlist-filter-name {
    font-size: 1.1em;
}

.available-filters .rounded-corners {
    height: 300px;
    overflow: auto;
}

.selected-filters .rounded-corners {
    height: 300px;
    overflow: auto;
}

.col-leadscore-date {
    width: 175px;
}
.col-leadscore-delta {
    width: 75px;
}