<mjml>
  <mj-head>
	<mj-attributes>
	  <mj-all margin="0">
	  </mj-all>
	</mj-attributes>
	<!-- CSS-STYLE -->
	<mj-style inline="inline"> p, li {margin:0 !important; padding:0; line-height:1.4em;}
	</mj-style>
  </mj-head>
  <!-- BODY -->
  <mj-body background-color="#d0d0d0">
	<mj-section background-color="#ffffff">
	  <mj-column>
		<mj-text font-size="11px" align="center">
		  <p>
			<span data-fr-verified="true"><span data-fr-verified="true" class="atwho-inserted">{webview_text}</span>⁠⁠⁠⁠⁠⁠⁠</span>
		  </p>
		</mj-text>
		<mj-spacer>
		</mj-spacer>
		<mj-image src="{{ getAssetUrl('themes/\\@defaults/placeholder-logo.png', null, null, true) }}" width="70px">
		</mj-image>
	  </mj-column>
	</mj-section>
	<mj-section background-color="#ffffff">
	  <mj-column width="550px">
		<mj-text font-size="30px" align="center" font-weight="700">
		  <p>Your main headline goes here
		  </p>
		</mj-text>
	  </mj-column>
	</mj-section>
	<mj-section background-color="#ffffff">
	  <mj-column>
		<mj-image src="{{ getAssetUrl('themes/\\@defaults/placeholder-image.png', null, null, true) }}" padding-right="0px" padding-left="0px">
		</mj-image>
	  </mj-column>
	</mj-section>
	<mj-section background-color="#ffffff">
	  <mj-column width="550px">
		<mj-text font-size="24px" align="center" font-weight="700">
		  <p>This is where you describe what makes this product special
		  </p>
		</mj-text>
		<mj-text font-size="16px" align="center">
		  <p>To create a strong first impression, replace this banner with a high-quality image.
		  </p>
		  <p>
			<br data-cke-filler="true"/>
		  </p>
		  <p>Focus on its unique features, benefits, and why customers love it. Don't forget to mention if it's a limited edition or on sale.
		  </p>
		</mj-text>
		<mj-button href="https://" background-color="#000000" inner-padding="16px 32px" border-radius="0px 0px 0px 0px" font-size="16px">
		  <p>Buy now
		  </p>
		</mj-button>
		<mj-spacer>
		</mj-spacer>
	  </mj-column>
	</mj-section>
	<mj-section background-color="#fafafa" padding-top="30px" padding-bottom="30px">
	  <mj-column width="275px">
		<mj-image src="{{ getAssetUrl('themes/\\@defaults/placeholder-image.png', null, null, true) }}">
		</mj-image>
		<mj-text font-size="18px" font-weight="700">
		  <p>Left column
		  </p>
		</mj-text>
		<mj-text font-size="14px">
		  <p>Use this space for secondary information. You could highlight a product feature, share a brief story, or provide additional context.
		  </p>
		</mj-text>
	  </mj-column>
	  <mj-column width="275px">
		<mj-image src="{{ getAssetUrl('themes/\\@defaults/placeholder-image.png', null, null, true) }}">
		</mj-image>
		<mj-text font-size="18px" font-weight="700">
		  <p>Right column
		  </p>
		</mj-text>
		<mj-text font-size="14px">
		  <p>This column can contain complementary information. Consider adding an image, a quote, or bullet points to break up the text.
		  </p>
		</mj-text>
	  </mj-column>
	</mj-section>
	<mj-section padding-top="0" padding-bottom="20px" background-color="#ffffff">
	  <mj-column>
		<mj-spacer>
		</mj-spacer>
		<mj-social font-size="12px" icon-size="30px" border-radius="12px" mode="horizontal">
		  <mj-social-element name="facebook" background-color="#000000" border-radius="14px 14px 14px 14px" padding-right="10px">
		  </mj-social-element>
		  <mj-social-element name="instagram" background-color="#000000" border-radius="14px 14px 14px 14px" padding-right="10px" padding-left="10px">
		  </mj-social-element>
		  <mj-social-element name="youtube" background-color="#000000" border-radius="14px 14px 14px 14px" padding-left="10px">
		  </mj-social-element>
		</mj-social>
		<mj-spacer>
		</mj-spacer>
		<mj-text font-family="Ubuntu, Helvetica, Arial, sans-serif" line-height="1.5" align="center" padding-top="0px" padding-bottom="0px" font-size="12px">
		  <p>Amazing Company
			<br/>11111 Beautiful City, 1212 Nice Street
			<br/>Brazil
			<br/>
		  </p>
		</mj-text>
		<mj-spacer>
		</mj-spacer>
		<mj-text font-size="11px" align="center" color="#6d6d6d">
		  <p>Fancy seeing you down here. You’re getting this email because you gave us your email address.
		  </p>
		  <p>Want to change how you receive these emails?
		  </p>
		</mj-text>
		<mj-text font-size="11px" align="center" color="#6d6d6d">
		  <p>
			<span data-fr-verified="true"><span data-fr-verified="true" class="atwho-inserted">{unsubscribe_text}</span>⁠⁠⁠⁠⁠⁠⁠</span>
		  </p>
		</mj-text>
		<mj-spacer height="60px">
		</mj-spacer>
	  </mj-column>
	</mj-section>
	<!-- SECTION POLICY -->
  </mj-body>
</mjml>