/* CoreBundle */
html {
  height: 100%;
}
body {
  height: 100%;
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}
.page-wrapper {
  padding-left: 0;
  padding-right: 0;
  background-color: #513b49;
  position: relative;
  height: 100%;
  width: 100%;
  left: 0;
  margin-left: 230px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out 0s;
}
.top-panel {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #fff;
  z-index: 5000;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out 0s;
}
.top-panel-left {
  float: left;
}
.top-panel-main {
  padding: 3px;
}
.panel-toggle {
  height: 50px;
  width: 50px;
  text-align: center;
  padding-top: 8px;
}
.panel-toggle a {
  color: #513b49;
  font-size: 0.9em;
}
.panel-toggle a:hover {
  color: #8c667e;
}
.account-menu .dropdown,
.admin-menu .dropdown {
  font-size: 1.2em;
}
.account-menu .dropdown {
  padding: 3px;
}
.left-panel-toggle {
  border-right: #ecf0f1 1px solid;
  margin-right: 5px;
  padding: 12px 2px 0 0 !important;
}
.main-panel-wrapper {
  padding-top: 50px;
  width: 100%;
  height: 100%;
  position: relative;
  overflow-y: auto;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out 0s;
}
.main-panel {
  padding: 40px 20px 0 20px;
  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out 0s;
  position: fixed;
  right: 0;
  left: 230px;
  background-color: #ecf0f1;
}
.main-panel-wrapper a {
  color: #34495e;
}
.main-panel-header h2 {
  margin-top: 5px;
}
.main-panel-footer {
  margin-bottom: 75px;
}
.main-panel-breadcrumbs {
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  position: fixed;
  z-index: 1000;
  width: 100%;
  left: 230px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out 0s;
}
.main-panel-breadcrumbs ol.breadcrumb {
  padding: 8px 0;
  margin-bottom: 5px;
  background-color: #ecf0f1;
}
.main-panel-content {
  position: relative;
  padding: 0 0 60px 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out 0s;
  margin-left: 0;
  overflow: hidden;
}
.main-panel-content-wrapper {
  height: 100%;
}
.scrollable {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.content-overlay {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #ecf0f1;
  padding: 0 20px;
  text-align: right;
  display: block;
  font-weight: bold;
}
.left-panel {
  position: fixed;
  background-color: #513b49;
  bottom: 0;
  width: 230px;
  left: 230px;
  margin-left: -230px;
  z-index: 4500;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out 0s;
}
.right-panel {
  position: fixed;
  background-color: #513b49;
  width: 230px;
  margin-right: -230px;
  right: 0;
  bottom: 0;
  z-index: 6000;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out 0s;
}
.right-panel-toggle {
  border-left: #ecf0f1 1px solid;
  margin-left: 5px;
}
.right-panel-toggle a {
  padding: 4px 0 3px 5px !important;
}
.right-panel-header {
  padding: 8px 5px;
  height: 50px;
  background-color: #604656;
}
.right-panel-inner-wrapper {
  padding-top: 0;
}
.global-search-panel a {
  display: block;
  height: 100%;
  width: 100%;
}
.global-search-panel a:hover {
  text-decoration: none;
}
.global-search-panel .panel-title {
  position: relative;
}
.global-search-panel .gs-count-badge {
  position: absolute;
  right: 0;
  top: 0;
}
.global-search-result {
  height: 50px;
  border-bottom: #b2b2b2 1px solid;
  padding: 7px;
  position: relative;
  overflow: hidden;
}
.global-search-result .gs-count-badge {
  top: 10px;
  right: 10px;
}
.global-search-result:hover {
  background-color: #ecf0f1;
}
.global-search-primary {
  display: block;
}
.global-search-secondary {
  font-size: 0.9em;
  line-height: 0.9em;
}
.global-search-indent {
  margin-left: 28px;
}
.left-panel-inner-wrapper {
  padding-top: 50px;
}
.left-panel-inner-wrapper,
.right-panel-inner-wrapper {
  position: relative;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.left-panel-header {
  height: 50px;
  color: #ffffff;
  margin: 12px 3px 5px 3px;
}
.left-panel-header span {
  font-size: 25px;
}
.left-panel-header img {
  margin-right: 10px;
  margin-left: 10px;
}
.left-side-bar-pin {
  position: fixed;
  right: 0;
  color: #ffffff;
  left: 210px;
  top: 55px;
  width: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out 0s;
}
.left-side-bar-pin i {
  transform: rotate(0);
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
}
.left-side-bar-pin i.unpinned {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}
.page-wrapper.hide-left {
  margin-left: 0;
}
.page-wrapper.hide-left .main-panel-breadcrumbs,
.page-wrapper.hide-left .main-panel {
  left: 0;
}
.page-wrapper.hide-left .left-panel {
  margin-left: -230px;
  left: 0;
}
.page-wrapper.hide-left .main-panel {
  margin-right: 0;
}
.page-wrapper.hide-left .left-side-bar-pin,
.page-wrapper.right-active .left-side-bar-pin {
  margin-left: -230px;
}
.page-wrapper.right-active {
  position: relative;
  right: 230px;
  left: -230px;
  margin-right: 0;
}
.page-wrapper.right-active .right-panel {
  right: 230px;
  width: 230px;
}
.page-wrapper.right-active .top-panel {
  right: 230px;
}
.page-wrapper.right-active .left-panel {
  margin-left: -230px;
  left: 0;
}
.page-wrapper.right-active .main-panel-breadcrumbs,
.page-wrapper.right-active .main-panel {
  margin-left: -230px;
  right: 230px;
}
.side-panel-nav-wrapper {
  position: relative;
  padding-bottom: 30px;
}
.side-panel-nav {
  list-style: none;
}
.side-panel-nav li {
  line-height: 40px;
  text-indent: 5px;
  border-bottom: #513b49 1px solid;
  position: relative;
  display: block;
  background-color: #604656;
  margin-left: auto;
  margin-right: auto;
}
.side-panel-nav li a {
  color: #b2b2b2;
  display: block;
  text-decoration: none;
  font-size: 1.1em;
  position: relative;
}
.side-panel-nav li.current > a:first-child {
  color: #fff;
  text-decoration: none;
}
.side-panel-nav li a:hover {
  color: #fff;
  text-decoration: none;
}
.side-panel-nav li a:active,
.side-panel-nav li a:focus {
  text-decoration: none;
}
.side-panel-nav li .nav-item-name {
  display: inline-block;
}
.side-panel-nav li .fa,
.top-panel li .fa {
  display: inline-block;
  margin-right: 5px;
}
.side-panel-nav ul.nav-level li .fa {
  margin-right: 0;
}
.side-panel-nav li .subnav-toggle {
  position: absolute !important;
  top: 0;
  right: 3px;
  color: #b2b2b2;
}
.side-panel-nav li .subnav-toggle:hover {
  color: #fff;
}
.side-panel-nav ul.subnav-closed {
  display: none;
}
.side-panel-nav ul.subnav-open {
  display: block;
}
.side-panel-nav i.fa-toggle-down {
  color: #fff;
}
.side-panel-nav ul.nav-level {
  margin-left: 0;
  padding-left: 0;
}
.side-panel-nav ul.nav-level a {
  padding-left: 25px;
  background-color: #7d5b71;
}
.body-white {
  background: #ffffff;
}
.confirmation-modal {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8) url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
  z-index: 9999;
  height: 100%;
  width: 100%;
}
.confirmation-inner-wrapper {
  width: 400px;
  font-size: 1.2em;
  font-weight: bold;
  position: aboslute;
  margin: 10% auto;
  padding: 8px;
  border-radius: 8px;
  background: #fff;
  text-align: center;
  z-index: 10000;
}
.toolbar {
  padding: 10px 0 10px 10px;
  margin-right: 5px;
  width: 300px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.toolbar .input-group {
  float: right;
  text-align: right;
}
.toolbar .input-group ul {
  text-align: left;
}
.search {
  position: relative;
  right: 0;
  float: right !important;
}
.toolbar.hide-search {
  width: 100px;
}
.toolbar input {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.toolbar.hide-search input {
  padding: 0;
  border-left: 0;
  border-right: 0;
}
.toolbar.show-search input {
  margin-left: 0px;
  padding: 6px 12px;
  border: 1px solid #CCCCCC;
}
.toolbar-form-buttons .btn {
  margin-left: 3px;
  margin-bottom: 3px;
}
.bottom-form-buttons .btn {
  margin-bottom: 3px;
}
label.required:after {
  color: #e32;
  content: ' *';
  display: inline;
}
.margin-none {
  margin: 0;
}
.margin-sm {
  margin: 5px;
}
.margin-md {
  margin: 15px;
}
.margin-sm-sides {
  margin: 0 5px;
}
.margin-md-sides {
  margin: 0 15px;
}
.margin-sm-top {
  margin-top: 5x;
}
.margin-md-top {
  margin-top: 15px;
}
.padding-none {
  padding: 0;
}
.padding-sm {
  padding: 5px;
}
.padding-md {
  padding: 15px;
}
.padding-lg {
  padding: 30px;
}
.padding-sm-sides {
  padding: 0 5px;
}
.padding-md-sides {
  padding: 0 15px;
}
.padding-lg-sides {
  padding: 0 30px;
}
.padding-sm-right {
  padding-right: 5px;
}
ul.no-bullet {
  list-style: none;
}
.rounded-corners {
  border-radius: 4px;
}
.alert {
  word-wrap: break-word;
}
.tooltip {
  z-index: 9999;
}
.tooltip-inner {
  text-align: left;
}
a.btn {
  color: #ffffff;
}
.loading-bar {
  z-index: 9999;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.loading-content .loading-bar {
  display: block;
}
.loading-bar.progress {
  height: 4px;
  margin-bottom: 0px;
  border-radius: 0px;
  box-shadow: none;
  -webkit-animation: shift-rightwards 5s ease-in-out infinite;
  -moz-animation: shift-rightwards 5s ease-in-out infinite;
  -ms-animation: shift-rightwards 5s ease-in-out infinite;
  -o-animation: shift-rightwards 5s ease-in-out infinite;
  animation: shift-rightwards 5s ease-in-out infinite;
  -webkit-animation-delay: .5s;
  -moz-animation-delay: .5s;
  -o-animation-delay: .5s;
  animation-delay: .5s;
}
.loading-bar .progress-bar {
  box-shadow: none;
}
.loading-message {
  position: absolute;
  top: -55px;
  left: 50%;
  height: 30px;
  font-size: 12px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out 0s;
  z-index: 9999;
  font-weight: bold;
}
.loading-message .loading-message-inner-wrapper {
  position: relative;
  left: -50%;
  width: 100;
  padding: 3px 10px;
  border: 2px solid #222f3d;
  border-radius: 4px;
}
.loading-content .loading-message {
  top: 0;
}
.pagination-wrapper {
  text-align: center;
}
.pagination-limit {
  width: 75px;
  display: inline-block;
}
.pagination-xs > li > a,
.pagination-xs > li > span {
  padding: 1px 5px;
  font-size: 12px;
}
.pagination-xs > li:first-child > a,
.pagination-xs > li:first-child > span {
  border-bottom-left-radius: 1px;
  border-top-left-radius: 1px;
}
.pagination-xs > li:last-child > a,
.pagination-xs > li:last-child > span {
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px;
}
.modal {
  top: 50px;
  z-index: 9999;
}
.modal-backdrop {
  z-index: 5000;
}
.modal-header button {
  padding: 2px 6px 3px 6px;
}
.droppable-active {
  border: 1px solid #513B49;
  background: #8c667e;
  color: #fff;
}
ul.draggable,
ul.droppable {
  margin-left: 0;
  padding-left: 3px;
}
.ui-droppable li,
li.ui-draggable {
  list-style: none;
}
.panel-group .panel-heading a {
  display: block;
}
.choice-wrapper .btn-default.active.disabled {
  background-color: #ebebeb;
  border-color: #adadad;
}
.choice-wrapper .btn-primary.active.disabled {
  background-color: #253544;
  border-color: #151e26;
}
.choice-wrapper .btn-success.active.disabled {
  background-color: #654a5c;
  border-color: #4b3644;
}
.choice-wrapper .btn-info.active.disabled {
  background-color: #39b3d7;
  border-color: #269abc;
}
.choice-wrapper .btn-warning.active.disabled {
  background-color: #ed9c28;
  border-color: #d58512;
}
.choice-wrapper .btn-danger.active.disabled {
  background-color: #8b3c36;
  border-color: #692e29;
}
.btn-add-item {
  margin-left: 3px;
}
.footer-margin {
  margin-bottom: -30px;
  padding-bottom: 30px;
}
.bundle-main,
.bundle-side {
  height: 450px;
  overflow: hidden;
}
.bundle-side-header {
  margin-bottom: 10px;
}
.bundle-side-item-primary {
  display: block;
  font-size: 1.5em;
}
.bundle-side-item-secondary {
  display: block;
}
.bundle-main,
.bundle-side.bundle-side-right {
  padding-left: 2px;
}
.bundle-main.bundle-main-left {
  padding-left: 15px;
}
.bundle-main h1,
.bundle-main h2,
.bundle-main h3,
.bundle-main h4,
.bundle-main h5,
.bundle-main h6 {
  margin-top: 0;
}
.bundle-side-inner-wrapper,
.bundle-main-inner-wrapper {
  height: 100%;
  margin-bottom: -50px;
  padding-bottom: 50px;
}
.bundle-side-filter-container {
  margin-bottom: 3px;
}
.bundle-list-actions i {
  margin-right: 6px;
}
.bundle-content-wrapper {
  position: relative;
}
.bundle-list a {
  text-decoration: none;
}
.bundle-list .bundle-list-item {
  height: 50px;
  border-bottom: 1px solid #cccccc;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}
.bundle-list .bundle-list-item a {
  display: block;
}
.bundle-list .bundle-list-item:hover,
.bundle-list .bundle-list-item.active {
  background-color: #ecf0f1;
}
.bundle-list .bundle-list-item .list-item-primary {
  display: block;
  font-weight: bold;
  font-size: 1.1em;
}
.bundle-list .bundle-list-item .list-item-secondary {
  display: block;
  font-size: 0.9em;
}
.bundle-list .bundle-list-item .list-item-publish-status {
  float: left;
  margin-right: 5px;
}
.bundle-list .bundle-list-item .badge-count {
  position: absolute;
  right: 0;
  top: 2px;
}
.list-item-indent {
  margin-left: 30px;
}
.hidden-shelf {
  margin-bottom: 3px;
}
.hidden-shelf select {
  margin-top: 3px;
}
.hidden-shelf:hover {
  background-color: #ecf0f1;
}
.hidden-shelf .shelf-handle {
  text-align: center;
  height: 25px;
  border: 1px solid #ecf0f1;
}
.bundle-main-actions .btn {
  margin-top: -5px;
  margin-left: -4px;
}
.bundle-main-item-primary {
  display: block;
  font-size: 2em;
}
.bundle-main-item-secondary {
  display: block;
}
.has-click-event {
  cursor: pointer;
}
.bundle-main .bundle-main-header {
  margin-bottom: 10px;
  padding-top: 10px;
}
.bundle-main .bundle-main .panel {
  margin-bottom: 5px;
}
.bundle-main .bundle-main .field-label {
  font-weight: bold;
}
.fullpanel {
  width: 100% !important;
  position: absolute !important;
  right: 0;
  padding: 0 !important;
  z-index: 5000;
  transition: width .5s;
  -moz-transition: width .5s;
  -webkit-transition: width .5s;
  -o-transition: width .5s;
  -webkit-transform: translateZ(0);
}
.expand-panel {
  font-size: 65%;
  position: absolute;
  left: 6px;
  top: 3px;
  cursor: pointer;
  color: #a3a3a3;
}
.expand-panel:hover {
  color: #7a7a7a;
}
@media (max-width: 767px) {
  .left-panel {
    left: 0 ;
  }
  .page-wrapper {
    margin-left: 0;
  }
  .page-wrapper .main-panel-breadcrumbs,
  .page-wrapper .main-panel {
    margin-left: 0;
    left: 0;
  }
  .left-side-bar-pin i {
    display: none;
  }
  .page-wrapper.right-active .top-panel {
    margin-left: -230px;
  }
  .page-wrapper.hide-left {
    width: 100%;
  }
  .page-wrapper.hide-left .left-panel {
    left: 230px;
  }
  .main-panel {
    margin-right: 0;
  }
  .main-panel-content {
    padding: 0 0 100px 0;
  }
  .main-panel-content-wrapper {
    overflow-y: auto;
    overflow-x: hidden;
  }
  .user-menu .user-menu-username {
    display: none;
  }
  .main-panel-header h2 {
    font-size: 1.8em;
  }
  .btn-group .btn {
    float: none;
    display: block;
  }
  .btn-group > .btn:not(.dropdown-toggle) {
    border-radius: 0;
  }
  .btn-group .btn + .btn,
  .btn-group .btn + .btn-group,
  .btn-group .btn-group + .btn,
  .btn-group .btn-group + .btn-group {
    margin-left: 0px;
  }
  .toolbar.no-search {
    width: 35px;
    padding: 0 0 10px 10px;
  }
  .toolbar button.btn span {
    display: none;
  }
  .toolbar.hide-search {
    width: 300px;
  }
  .toolbar.hide-search input {
    margin-left: 0px;
    padding: 6px 12px;
    border: 1px solid #CCCCCC;
  }
  .toolbar-form-buttons {
    display: block;
    width: 100%;
  }
  .toolbar-form-buttons .btn {
    display: block;
    width: 100%;
  }
  .bundle-side {
    padding-right: 15px;
    margin-bottom: 10px;
    height: 150px;
  }
  .bundle-side.bundle-side-right {
    height: 100%;
    overflow: visible;
    padding-left: 15px;
  }
  .bundle-side.bundle-side-right .scrollable {
    overflow: visible;
  }
  .bundle-main {
    padding-left: 15px;
    overflow: visible;
    height: 100%;
  }
  .bundle-main .bundle-main-inner-wrapper.scrollable {
    overflow: visible;
  }
  .bundle-main .badge-count h1 {
    display: none;
  }
  .expand-panel {
    display: none !important;
  }
  .footer-margin {
    padding-bottom: 120px;
    margin-bottom: -120px;
  }
}
