#panel-wrapper {
    padding-left: 250px;
    margin-top: 40px;
}

#header {
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    overflow-y: auto;
    z-index: 1000;
}

#header h3 {
    margin: 0;
    padding: 5px 0 5px 5px;
}

#main-panel {
    width: 100%;
    padding: 10px 10 0px 10px;
}

#main-panel-header {
    height: 65px;
    line-height: 65px;
}

#main-panel-header h1 {
    margin-top: 5px;
}

#main-panel-breadcrumbs ol.breadcrumb {
    margin-bottom: 0;
}

#main-panel-content {
    padding: 10px;
}

#left-side-panel {
    margin-left: -250px;
    left: 250px;
    width: 250px;
    background: #000;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
}

.side-panel-nav {
    position: absolute;
    top: 0;
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.side-panel-nav li {
    line-height: 40px;
    text-indent: 5px;
    overflow: hidden;
}

.side-panel-nav li a {
    color: #999999;
    display: block;
    text-decoration: none;
    font-size: 1.1em;
    position: relative;
}

.side-panel-nav li.current>a:first-child  {
    color: #fff;
    text-decoration: none;
}

.side-panel-nav li a:hover {
    color: #fff;
    text-decoration: none;
}

.side-panel-nav li a:active,
.side-panel-nav li a:focus {
    text-decoration: none;
}

.side-panel-nav li .nav-item-name {
    display: inline-block;
}

.side-panel-nav li .glyphicon {
    margin-right: 5px;
    display: inline-block;
}

.side-panel-nav li .subnav-toggle {
    position: absolute !important;
    top: 0;
    right: 3px;
}

.side-panel-nav ul.subnav-closed {
    display: none;
}

.side-panel-nav ul.subnav-open {
    display: block;
}

.side-panel-nav ul.nav-level {
    margin-left: 0;
    padding-left: 0;
    background: #404040;
}

.side-panel-nav ul.nav-level a:before {
    content: " ";
    background: url("images/submenuindicator.png") no-repeat;
    position: absolute;
    left: 5px;
    height: 40px;
    width: 20px;
}

.side-panel-nav ul.nav-level a {
   padding-left: 20px;
}


