html {
    height: 100%;
}

body {
    position: relative;
    height: 100%;
}

.panel-container {
    padding: 0 0 30px 0;
    background-color: #f5f5f5;
    position: relative;
    height: 100%;
}

.top-panel {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #fff;
    z-index: 1000;
}

.top-panel h3 {
    margin: 0;
    padding: 5px 0 5px 5px;
}

.main-panel-wrapper {
    position: relative;
    margin-left: 250px;
    background-color: #f5f5f5;
    padding-top: 50px;
    height: 100%;
    overflow: hidden;
}

.main-panel {
    position: absolute;
    top: 85px;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.main-panel-header h1 {
    margin-top: 5px;
}

.main-panel-breadcrumbs {
    height: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

.main-panel-breadcrumbs ol.breadcrumb {
    padding: 8px 0;
    margin-bottom: 5px;
}

.main-panel-content {
    padding-bottom: 30px;
    width: 100%;
}

.left-panel {
    position: fixed;
    height: 100%;
    background-color: #513B49;
    width: 250px;
    bottom: 0;
}

.left-panel-inner-wrapper {
    position: relative;
    height: 100%;
    top: 50px;
    overflow: hidden;
}

.left-panel-header {
    height: 50px;
    color: #ffffff;
}

.left-panel-header span {
    margin: 10px 0;
    display: block;
    font-size: 25px;
}

.left-panel-header img {
    margin-right: 10px;
    margin-left: 10px;
}

.side-panel-nav-outter-wrapper {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.side-panel-nav-inner-wrapper {
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
    padding-bottom: 50px;
}

.side-panel-nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

.side-panel-nav li {
    line-height: 40px;
    text-indent: 5px;
    border-bottom: #513B49 1px solid;
}

.side-panel-nav li a {
    color: #B2B2B2;
    display: block;
    text-decoration: none;
    font-size: 1.1em;
    position: relative;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    background-color: #6b4d60;
}

.side-panel-nav li.current>a:first-child  {
    color: #fff;
    text-decoration: none;
}

.side-panel-nav li a:hover {
    color: #fff;
    text-decoration: none;
}

.side-panel-nav li a:active,
.side-panel-nav li a:focus {
    text-decoration: none;
}

.side-panel-nav li .nav-item-name {
    display: inline-block;
}

.side-panel-nav li .fa {
    display: inline-block;
    margin-right: 5px;
}

.side-panel-nav ul.nav-level li .fa {
    margin-right: 0;
}

.side-panel-nav li .subnav-toggle {
    position: absolute !important;
    top: 0;
    right: 3px;
}

.side-panel-nav ul.subnav-closed {
    display: none;
}

.side-panel-nav ul.subnav-open {
    display: block;
}

.side-panel-nav ul.nav-level {
    margin-left: 0;
    padding-left: 0;
}

.side-panel-nav ul.nav-level a:before {
    content: " ";
    background: url("images/submenuindicator.png") no-repeat;
    position: absolute;
    left: 10px;
    height: 40px;
    width: 20px;
}

.side-panel-nav ul.nav-level a {
   padding-left: 25px;
   background-color: #78566B;
}

.white-background {
    background: #ffffff;
    padding: 5px;
}
