<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.getTitle() }}</title>
        <meta name="description" content="{{ page.getMetaDescription() }}">
        {% include ":oxygen:styles.html.twig" %}
    </head>
    <body>
        {{ outputScripts('bodyOpen') }}
        {% block content %}{% endblock %}
        {{ outputScripts('bodyClose') }}
    </body>
</html>
