<!DOCTYPE html>
<html>
    <head>
        <title>{pagetitle}</title>
        <meta name="description" content="{pagemetadescription}">
        <link rel="stylesheet" href="{{ getAssetUrl('themes/oxygen/css/oxygen.css') }}" type="text/css" />
    </head>
    <body>
        {{ outputScripts('bodyOpen') }}
        {% block content %}{% endblock %}
        {{ outputScripts('bodyClose') }}
    </body>
</html>
