#panel-wrapper {
    padding-left: 250px;
}

#header {
    height: 40px;
}

#header h3 {
    margin: 0;
    padding: 5px 0 5px 5px;
}

#main-panel {
    width: 100%;
    padding: 10px 10 0px 10px;
}

#main-panel-header {
    height: 65px;
    line-height: 65px;
}

#main-panel-header h1 {
    margin-top: 5px;
    padding-left: 10px;
}

#main-panel-breadcrumbs ol.breadcrumb {
    margin-bottom: 0;
}

#left-side-panel {
    margin-left: -250px;
    left: 250px;
    width: 250px;
    background: #000;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.4s ease 0s;
}

.side-panel-nav {
    position: absolute;
    top: 0;
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.side-panel-nav li {
    line-height: 40px;
    text-indent: 5px;
}

.side-panel-nav li a {
    color: #999999;
    display: block;
    text-decoration: none;
    font-size: 1.1em;
}

.side-panel-nav li a:hover {
    color: #fff;
    background: rgba(255,255,255,0.2);
    text-decoration: none;
}

.side-panel-nav li a:active,
.side-panel-nav li a:focus {
    text-decoration: none;
}

.side-panel-nav li .glyphicon {
    margin-right: 10px;
}

