{% extends 'MauticCoreBundle:Default:content.html.twig' %}
{% block mauticContent %}asset{% endblock %}
{% block headerTitle %}{{ 'mautic.asset.assets'|trans }}{% endblock %}

{% block actions %}
{{- include('MauticCoreBundle:Helper:page_actions.html.twig',
    {
        'templateButtons' : {
            'new'  : permissions['asset:assets:create'],
        },
        'routeBase'  : 'asset',
        'langVar'    : 'asset.asset',
    }
) -}}
{% endblock %}

{% block content %}
<div class="panel panel-default bdr-t-wdh-0 mb-0">baga
    {{- include('MauticCoreBundle:Helper:list_toolbar.html.twig', {
        'searchValue': searchValue,
        'searchHelp' : 'mautic.asset.asset.help.searchcommands',
        'action'     : currentRoute,
    }) -}}
    <div class="page-list"> 
        {{ block('listResults') }}
    </div>
</div>
{% endblock %}
