.col-point-actions, .col-pointtrigger-actions {
    width: 25px;
}

.col-point-id, .col-pointtrigger-id {
    width: 75px;
}

.trigger-event-group-header {
    font-size: 1.1em;
    font-weight: bold;
}

#trigger-events .trigger-event {
    padding: 20px;
    margin-bottom: 0 !important;
    border: 1px solid #ecf0f1;
}

#trigger-events .trigger-event .event-label {
    font-size: 1.1em;
    font-weight: bold;
    display: block;
}

#trigger-events .trigger-event .event-descr {
    font-size: 0.9em;
    display: block;
}

#trigger-events .trigger-event:hover {
    background-color: #ecf0f1;
}

#trigger-events .trigger-event.bg-danger:hover {
    background-color: #f2d4d2;
}

#trigger-events .form-buttons {
    float: right;
}