.col-campaign-id {
    width: 75px;
}

.btn-close-campaign-builder {
    position: fixed;
    top: 15px;
    right: 30px;
    z-index: 1040;
}

.campaign-builder .builder-content {
    right: 0;
}

#CampaignCanvas {
    height: 10000px;
    width: 10000px;
}

#CampaignEvent_newsource_hide {
    display: none;
}

#CampaignEventPanel {
    position: absolute;
    padding: 10px 20px;
    background-color: #ededed;
    border: 1px solid #cdcdcd;
    border-radius: 4px;
    z-index:1035;
}

#CampaignEventPanelLists .disabled-result {
    display: none;
}

#CampaignEventPanelGroups .panel-body {
    height: 150px;
}

.jtk-endpoint {
    z-index: 1005;
}

.jtk-endpoint.dragActive {
    /* changes endpoint when dragging connector */
}

.jtk-label {
    background-color: white;
    opacity:0.9;
    padding:0.3em;
    border-radius:0.5em;
    border: 1px solid #47535f;
    cursor:pointer;
    z-index: 1004;
    color: #47535f;
}

.jtk-connector {
    z-index: 1000;
}

.jtk-clickable_anchor {
    cursor: pointer;
    z-index: 1050;
}

.jtk-endpoint svg text {
    display: none;
}

.jtk-clickable_anchor svg text {
    display: block;
}

.jtk-surface {
    overflow: hidden !important;
    position: relative;
    cursor: move;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    touch-action:none;
}

.jtk-surface-nopan {
    overflow: scroll !important;
    cursor:default;
}

.list-campaign-event, .list-campaign-source {
    width: 200px;
    height: 45px;
    position: absolute;
    padding: 10px 15px;
    z-index: 1010;
    background: #FFFFFF;
    border-radius: 3px;
}

.list-campaign-event:hover, .list-campaign-source:hover {
    border:1px solid #123456;
    /*
    box-shadow: 2px 2px 19px #444;
    -o-box-shadow: 2px 2px 19px #444;
    -webkit-box-shadow: 2px 2px 19px #444;
    -moz-box-shadow: 2px 2px 19px #fff;
    opacity:0.9;
    filter:alpha(opacity=90);
    */
}

.campaign-event-buttons {
    position: absolute;
    top: -10px;
    right: -10px;
}

.campaign-event-buttons .btn {
    border-radius: 10px;
    width: 20px;
    height: 20px;
    padding: 0;
}

.list-campaign-event .campaign-event-name {
    overflow: hidden;
    white-space: nowrap;
}

.list-campaign-decision {
    /*background-color: #e5ffff;*/
    border: solid 1px #00b49d;
}

.list-campaign-condition {
    /*background-color: #ffe9d1;*/
    border: solid 1px #ffb79f;
}

.list-campaign-action {
    /*background-color: #cdddff;*/
    border: solid 1px #9babeb;
    /*color: #fff;*/
}

.list-campaign-leadsource {
    /*background-color: #ffffe6;*/
    border: solid 1px #fdb933;
    /*color: #fff;*/
}

#CampaignEventSelector_chosen .list-campaign-action,
#CampaignEventSelector_chosen .list-campaign-condition,
#CampaignEventSelector_chosen .list-campaign-decision,
#CampaignEventSelector_chosen .list-campaign-leadsource {
    border-left: none;
    border-right: none;
    border-top: none;
    padding: 10px 5px;
}

#CampaignEventSelector_chosen .disabled-result {
    display: none;
}

.campaign-builder .list-group-item.ui-draggable-dragging {
    width: 206px;
    padding: 10px 15px;
    border-radius: 6px;
}

.campaign-builder .builder-active {
    height: 10000px !important;
}

.campaign-builder .builder-content {
    height: auto;
    width: auto;
    bottom: 0;
    overflow: auto;
}

#CampaignCanvas {
    height: 10000px;
    width: 10000px;
    position: relative;
}

.campaign-event-list .progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
}

.campaign-event-buttons .btn-edit {
    background: #337ab7;
}

.stat-boxes .pie-legend li {
    display: inline;
}
