.col-campaign-actions {
    width: 25px;
}

.col-campaign-id {
    width: 75px;
}

#campaignEvents .campaign-event-timeframe {
    margin-right: 5px;
}

.campaign-builder {
    position: relative;
}

.campaign-builder-active {
    background-color: #fff !important;
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 1030;
}

.campaign-builder-panel {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 100%;
    padding: 15px;
    background-color: #d5d4d4;
    overflow-y: auto;
}

.campaign-builder-panel .btn-close-builder {
    width: 100%;
}

.campaign-builder-content {
    position: fixed;
    left: 0;
    top: 0;
    right: 250px;
    height: 100%;
    position: fixed;
}

#CampaignCanvas {
    height: 1000px;
    overflow-y: auto;
}

.campaign-builder-panel .panel a.btn {
    white-space: normal;
}

._jsPlumb_endpoint {
    z-index: 1005;
}

._jsPlumb_endpoint.dragActive {
    /* changes endpoint when dragging connector */
}

._jsPlumb_label {
    background-color: white;
    opacity:0.9;
    padding:0.3em;
    border-radius:0.5em;
    border: 1px solid #47535f;
    cursor:pointer;
    z-index: 1004;
    color: #47535f;
}

._jsPlumb_connector {
    z-index: 1000;
}

.list-campaign-event {
    width: 200px;
    height: 45px;
    position: absolute;
    margin: 10px;
    padding: 10px 15px;
    z-index: 1010;
    border-radius: 3px;
}

.list-campaign-event:hover {
    border:1px solid #123456;
    box-shadow: 2px 2px 19px #444;
    -o-box-shadow: 2px 2px 19px #444;
    -webkit-box-shadow: 2px 2px 19px #444;
    -moz-box-shadow: 2px 2px 19px #fff;
    /* opacity:0.9;
    filter:alpha(opacity=90);
    */
}

.campaign-event-buttons {
    position: absolute;
    top: -10px;
    right: -15px;
}

.campaign-event-buttons .btn-delete {
    border-radius: 10px;
}

.list-campaign-event .campaign-event-name {
    overflow: hidden;
    white-space: nowrap;
}

.list-campaign-decision,  a.list-campaign-decision {
    background-color: #faebcc;
    border: solid 1px #8a6d3b;
}

.list-campaign-systemaction, a.list-campaign-systemaction {
    background-color: #8393a2;
    border: solid 1px #4f5761;
    color: #fff;
}

.list-campaign-action, a.list-campaign-action {
    background-color: #47558f;
    border: solid 1px #343b68;
    color: #fff;
}

.campaign-builder .list-group-item.ui-draggable-dragging {
    width: 206px;
    padding: 10px 15px;
    border-radius: 6px;
}