.col-campaign-actions {
    width: 25px;
}

.col-campaign-id {
    width: 75px;
}

.campaign-event-group-header {
    font-size: 1.1em;
    font-weight: bold;
}

#campaignEvents .campaign-event-row .campaign-event-label {
    font-size: 1.1em;
    font-weight: bold;
    display: block;
}

#campaignEvents .campaign-event-row .campaign-event-descr {
    font-size: 0.9em;
    display: block;
}

#campaignEvents li ol {
    margin: 10px 0 !important;
}

#campaignEvents .campaign-event-details {
    padding: 20px;
    margin-bottom: 0 !important;
    border: 1px solid #ecf0f1;
    list-style-image: none;
}

#campaignEvents .campaign-event-details:hover {
    background-color: #ecf0f1;
}

#campaignEvents .campaign-event-row.bg-danger .campaign-event-details:hover {
    background-color: #f2d4d2;
}

#campaignEvents li.campaign-event-placeholder {
    border: dashed 1px #000;
    padding: 20px;
}

#campaignEvents .campaign-event-timeframe {
    margin-right: 5px;
}