.col-campaign-actions {
    width: 25px;
}

.col-campaign-id {
    width: 75px;
}

#campaignEvents .campaign-event-timeframe {
    margin-right: 5px;
}

#campaignBuilder .modal-dialog {
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 0;
}

#campaignBuilder .modal-content {
    height: 100%;
    border-radius: 0;
}