/* Social Media */
.symbol-hashtag:before {
    content: '#';
}

.shuffle-item.integration {
	width: 100px;
}

.integration-disabled img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}

.integration-disabled img:hover {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
}
.field-selector {
    width: 500px;
}
.col-centered{
    margin: 0 auto;
    float: none;
}

.placeholder
{
    position: relative;
}

.placeholder::after
{
    position: absolute;
    right: 3px;
    top: 19px;
    content: attr(data-placeholder);
    pointer-events: none;
    opacity: 0.3;
    font-size: 9px
}

.integration-fields{
    font-size: 12px;
    padding-left: 7px;
}
