{% set extraMenu = menuRender('extra') %}
{% if extraMenu is not empty %}
    <!-- start: sidebar-header -->
    <div class="sidebar-header">
        <a class="mautic-brand{{ extraMenu is empty ? '' : ' pull-left pl-0 pr-0' }}" href="#">
            <div class="dropdown extra-menu">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                    <i class="ri-arrow-down-s-line ri-lg"></i>
                </a>
                {{ extraMenu }}
            </div>
        </a>
    </div>
    <!--/ end: sidebar-header -->
{% endif %}


<!-- start: sidebar-content -->
<div class="sidebar-content">
    <!-- scroll-content -->
    <div class="scroll-content slimscroll">
        <!-- start: navigation -->
        <nav class="nav-sidebar">
            {{ customContent('menu.above', _context) }}
            {{ menuRender('main') }}

            <!-- start: left nav -->
            <ul class="nav sidebar-left-dark">
                <li class="hidden-xs">
                    <a href="javascript:void(0)" data-toggle="minimize" class="sidebar-minimizer" aria-label="{% trans %}mautic.core.menu.left.collapse{% endtrans %}"><span class="direction icon pull-left fa"></span><span class="nav-item-name pull-left text">{% trans %}mautic.core.menu.left.collapse{% endtrans %}</span></a>
                </li>
            </ul>
            <!--/ end: left nav -->

        </nav>
        <!--/ end: navigation -->
    </div>
    <!--/ scroll-content -->
</div>
<!--/ end: sidebar-content -->