body {
    font-family: Georgia,Helvetica,Arial,sans-serif;
    background-color: #3F4551;
    background: url('../images/narrow.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #252525;
    font-size: 15px;
    line-height: 1.6;
}
.container {
    width: 970px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
}
.main-block.bg-primary {
    padding: 20px;
    margin: 20px auto;
    background-color: #494949;
}

