//
// Chart
// --------------------------------------------------

// Sparkline Tooltip
// -------------------------
.jqstooltip {
  display: block;
  width: auto !important;
  height: auto !important;
  background-color: @gray-darker !important;
  border-radius: @border-radius-base;
  border-width: 0 !important;
}