//
// Labels
// --------------------------------------------------

.label {
  display: inline-flex;
  font-size: 75%;
  font-weight: 700;
  gap: 6px;
  white-space: nowrap;
  line-height: 1.5;
  padding: 0.25em 0.8em 0.15em 0.8em;
  border-radius: @border-radius-infinite;
  min-width: 30px;
  justify-content: center;
  align-items: center;
  transition: var(--all);

  // Exception for category color labels
  &.pa-10 {
    min-width: auto;
  }

  // Add hover effects, but only for links
  a& {
  &:hover,
  &:focus {
    text-decoration: none;
    cursor: pointer;
    }
  }

  // Empty labels collapse automatically (not available in IE8)
  &:empty {
    display: none;
  }

  // Quick fix for labels in buttons
  .btn & {
    position: relative;
    top: -1px;
  }

  // Colors
  /// Neutral variations

  &.gray-tag {
    background-color: var(--tag-background-gray);
    color: var(--tag-color-gray);
    > a {
      color: var(--tag-color-gray);
    }
    &:hover {
      background-color: var(--tag-hover-gray);
    }
  }

  &.cool-gray-tag {
    background-color: var(--tag-background-cool-gray);
    color: var(--tag-color-cool-gray);
    > a {
      color: var(--tag-color-cool-gray);
    }
    &:hover {
      background-color: var(--tag-hover-cool-gray);
    }
  }
  
  &.warm-gray-tag {
    background-color: var(--tag-background-warm-gray);
    color: var(--tag-color-warm-gray);
    > a {
      color: var(--tag-color-warm-gray);
    }
    &:hover {
      background-color: var(--tag-hover-warm-gray);
    }
  }
  
  &.red-tag {
    background-color: var(--tag-background-red);
    color: var(--tag-color-red);
    > a {
      color: var(--tag-color-red);
    }
    &:hover {
      background-color: var(--tag-hover-red);
    }
  }
  
  &.magenta-tag {
    background-color: var(--tag-background-magenta);
    color: var(--tag-color-magenta);
    > a {
      color: var(--tag-color-magenta);
    }
    &:hover {
      background-color: var(--tag-hover-magenta);
    }
  }
  
  &.purple-tag {
    background-color: var(--tag-background-purple);
    color: var(--tag-color-purple);
    > a {
      color: var(--tag-color-purple);
    }
    &:hover {
      background-color: var(--tag-hover-purple);
    }
  }
  
  &.blue-tag {
    background-color: var(--tag-background-blue);
    color: var(--tag-color-blue);
    > a {
      color: var(--tag-color-blue);
    }
    &:hover {
      background-color: var(--tag-hover-blue);
    }
  }
  
  &.cyan-tag {
    background-color: var(--tag-background-cyan);
    color: var(--tag-color-cyan);
    > a {
      color: var(--tag-color-cyan);
    }
    &:hover {
      background-color: var(--tag-hover-cyan);
    }
  }
  
  &.teal-tag {
    background-color: var(--tag-background-teal);
    color: var(--tag-color-teal);
    > a {
      color: var(--tag-color-teal);
    }
    &:hover {
      background-color: var(--tag-hover-teal);
    }
  }
  
  &.green-tag {
    background-color: var(--tag-background-green);
    color: var(--tag-color-green);
    > a {
      color: var(--tag-color-green);
    }
    &:hover {
      background-color: var(--tag-hover-green);
    }
  }

  &.mautic-blue-tag {
    background-color: var(--tag-background-mautic-blue);
    color: var(--tag-color-mautic-blue);
    > a {
      color: var(--tag-color-mautic-blue);
    }
    &:hover {
      background-color: var(--tag-hover-mautic-blue);
    }
}

  &.gold-tag {
    background-color: var(--tag-background-gold);
    color: var(--tag-color-gold);
    > a {
      color: var(--tag-color-gold);
    }
    &:hover {
      background-color: var(--tag-hover-gold);
    }
  }
    

  // Operational state

  &.has-click-event {
    border: 1px solid #00000017;

    // Operational tag border colors

    &.gray-tag {
      border: 1px solid var(--tag-border-gray);
    }
    
    &.cool-gray-tag {
      border: 1px solid var(--tag-border-cool-gray);
    }
    
    &.warm-gray-tag {
      border: 1px solid var(--tag-border-warm-gray);
    }
    
    &.red-tag {
      border: 1px solid var(--tag-border-red);
    }
    
    &.magenta-tag {
      border: 1px solid var(--tag-border-magenta);
    }
    
    &.purple-tag {
      border: 1px solid var(--tag-border-purple);
    }
    
    &.blue-tag {
      border: 1px solid var(--tag-border-blue);
    }
    
    &.cyan-tag {
      border: 1px solid var(--tag-border-cyan);
    }
    
    &.teal-tag {
      border: 1px solid var(--tag-border-teal);
    }
    
    &.green-tag {
      border: 1px solid var(--tag-border-green);
    }

    &.mautic-blue-tag {
      border: 1px solid var(--tag-border-mautic-blue);
    }
    
    &.gold-tag {
        border: 1px solid var(--tag-border-gold);
    }
  }
}

  // Contextual Bootstrap variations (linked labels get darker on :hover)
  .label-default {
    .label-variant(@label-default-bg);
  }

  .label-primary {
    .label-variant(@label-primary-bg);
  }

  .label-success {
    .label-variant(@label-success-bg);
  }

  .label-info {
    .label-variant(@label-info-bg);
  }

  .label-warning {
    .label-variant(@label-warning-bg);
  }

  .label-danger {
    .label-variant(@label-danger-bg);
  }

  .label-default,
  .label-primary,
  .label-success,
  .label-info,
  .label-warning,
  .label-danger {
    color: var(--text-on-color);
  }


