.leadspace {
  &[size="super"] .leadspace--heading,
  &[size="tall"] .leadspace--heading,
  &[size="medium"] .leadspace--heading {
    margin-bottom: 48px;
  }
  
  &[size="short"] .leadspace--heading {
    margin-bottom: 32px;
  }
  
  .leadspace__section {
    min-block-size: unset;
    position: relative;
    margin-inline: auto;
    max-inline-size: 1584px;
    display: flex;
    background-color: var(--background, #ffffff);
  }
  
  .leadspace--content__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    block-size: 100%;
    margin-block-end: 32px;
  }
  
  .background-media {
    aspect-ratio: 4 / 3;
    block-size: auto;
    overflow: clip;
    filter: contrast(1.2);
  }
  
  .leadspace__overlay {
    margin-inline: auto;
    padding-inline: 16px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    inline-size: 100%;
    max-inline-size: none;
    padding-block-start: 16px;
  }
  
  .leadspace__gradient {
    position: absolute;
    display: none;
    block-size: 100%;
    inline-size: calc(100% + 1px);
    inset-block-start: 0px;
    inset-inline-start: -1px;
    padding-block-end: 0px;
    pointer-events: none;
    z-index: -1;
    
    &__rect {
      fill: url(#stops);
    }
    
    &__stops stop {
      stop-color: var(--context-color, var(--layer));
      
      &:nth-of-type(1) {
        stop-opacity: 1;
      }
      &:nth-of-type(2) {
        stop-opacity: 1;
      }
      &:nth-of-type(3) {
        stop-opacity: 0.75;
      }
      &:nth-of-type(4) {
        stop-opacity: 0;
      }
    }
  }
  
  &[size=tall] .leadspace__section {
    block-size: auto;
    min-block-size: 560px;
  }
}

.leadspace__action {
  --button-group--item-count: 3;
  display: grid;
  grid-auto-rows: 1fr;
  grid-gap: 16px;
  grid-template-columns: 1fr;
}

.leadspace__container {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
}

.background-media--container {
  contain: layout;
}

.background-media--mobile-position,
.background-media--item {
  block-size: 100%;
}

.image__img {
  display: block;
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
}

@media (min-width: @screen-lg-min) {
  .leadspace {
    .leadspace__context-aware-color {
      color: var(--context-aware-color);
      border-color: var(--context-aware-color);
      &,
      &:active,
      &:hover,
      &:focus {
        background-color: unset;
        i { color: var(--context-aware-color); }
      }
    }
    
    &[size="super"] {
      .leadspace--heading {
        margin-bottom: 96px;
      }
      .leadspace__section {
        min-block-size: 640px;
      }
    }
    
    &[size="tall"] {
      .leadspace--heading {
        margin-bottom: 96px;
      }
      .leadspace__section {
        min-block-size: 560px;
      }
    }
    
    &[size="medium"] {
      .leadspace--heading {
        margin-bottom: 48px;
      }
      .leadspace__section {
        min-block-size: 480px;
      }
    }
    
    &[size="short"] {
      .leadspace--heading {
        margin-bottom: 48px;
      }
      .leadspace__section {
        min-block-size: 320px;
      }
    }
    
    .background-media {
      position: absolute;
      aspect-ratio: auto;
      block-size: 100%;
      inset: 0px;
    }

    .background-media--with-gradient {
      inline-size: 75%;
      margin-left: auto;
    }
    
    .leadspace__overlay {
      inset-block-start: 0px;
      padding-block-start: 32px;
      padding-inline: 32px;
    }
    
    .leadspace__gradient {
      display: block;
    }
    
    .leadspace__section {
      position: relative;
      margin-inline: auto;
      max-inline-size: 1584px;
    }
  }
  
  .leadspace__action {
    display: inline-grid;
    grid-template-columns: repeat(var(--button-group--item-count), 1fr);
  }
}
