// Scaffolding
// --------------------------------------------------

body {
  color: var(--text-primary);
}

// Horizontal rules

hr,
.hr-expand {
  width: auto;

  &.hr-w-2 {
    border-width: 2px;
  }
  &.hr-w-3 {
    border-width: 3px;
  }
}
.hr-expand {
  a.arrow {
    display: inline-block;
    position: relative;
    top: -1px;
    z-index: 1;
    background-color: var(--layer);
    padding: 0 15px;
    margin: 0 15px;
    border-top-width: 0;
    border-bottom-left-radius: @border-radius-base;
    border-bottom-right-radius: @border-radius-base;
    font-size: 9px;
    line-height: 22px;
    text-transform: uppercase;

    > .caret {
      margin-left: 0;
      border-top: 0px;
      border-bottom: 4px solid;
    }
  }

  a.collapsed {
    > .caret {
        border-top: 4px solid;
        border-bottom: 0px;
      }
  }

  &.hr-w-2 {
    a.arrow {
      top: -2px;
    }
  }
  &.hr-w-3 {
    a.arrow {
      top: -3px;
    }
  }
}


// Links

a {
  transition: var(--transition-all-productive);
  color: var(--link-primary);
  outline: 2px solid transparent;

  &:hover {
    color: var(--link-primary-hover);
    cursor: pointer;
  }
  &:hover,
  &:focus {
    text-decoration: none;
    outline: 2px solid transparent;
  }
}