{% block _config_social_config_widget %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'mautic.config.tab.social_config'|trans }}</h3>
    </div>
    <div class="panel-body">
        {% for f in form.children %}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(f) }}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
