<html>
    <head>
    </head>
    <body style="background: #969696; font-family: Helvetica Neue, Helvetica, Arial, sans-serif;">
        <table style="border-collapse: collapse; background: #FFFFFF; width: 600px; color: #555; border: 1px solid #494949; box-shadow: 1px 1px 1px #5B5959; margin: 50px auto;">
            <tr>
                <td style="vertical-align: top; padding: 30px 50px 10px 50px; font-size: 28px; line-height: 1.5em;" data-slot-container>
                    <div data-slot="text">
                        <h2 style="text-align: center;">Hello there!</h2>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top; padding: 30px 50px; font-size: 17px; line-height: 1.7em;" data-slot-container>
                    <div data-slot="text">
                        We haven't heard from you for a while...
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top; padding: 30px 50px; font-size: 12px; line-height: 1.5em;color: #ffffff; background-color: #888888;" data-slot-container>
                    <div data-slot="text">
                        <div style="text-align: center;">{unsubscribe_text}‍ | {webview_text}‍</div>
                    </div>
                </td>
            </tr>
        </table>
    </body>
</html>
