{% extends ":nature:base.html.twig" %}

{% block content %}
?>
<div class="container">
    <div class="row">
        <div data-slot-container class="col-xs-12 col-sm-4"><div data-slot="text"></div></div>
        <div data-slot-container class="col-xs-12 col-sm-4"><div data-slot="text"></div></div>
        <div data-slot-container class="col-xs-12 col-sm-4"><div data-slot="text"></div></div>
    </div>

    <div class="row">
        <div data-slot-container class="col-xs-12 col-sm-9">
            <div data-slot="text"></div>
        </div>

        <div class="col-xs-12 col-sm-3">
            <div class="row">
                <div data-slot-container class="col-xs-12">
                    <div data-slot="text"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-block bg-primary row">
        <div data-slot-container class="col-xs-12 col-sm-4"><div data-slot="text"></div></div>
        <div data-slot-container class="col-xs-12 col-sm-4"><div data-slot="text"></div></div>
        <div data-slot-container class="col-xs-12 col-sm-4"><div data-slot="text"></div></div>
    </div>

    <div class="row">
        <div data-slot-container class="col-xs-12 col-sm-4"><div data-slot="text"></div></div>
    </div>
    
</div>
<div data-slot-container class="copyright text-center">
    <div data-slot="text">
        <small>Background <a href="https://flic.kr/p/ppk9JE" alt="Narrow river">photo</a> by Christopher Michel</small>
    </div>
</div>
{% endblock %}
