.mautic-editable {
    min-height: 75px;
    width: 100%;
    border: solid 1px #d5d4d4;
    margin-top: 3px;
    margin-bottom: 3px;
}

.mautic-content-placeholder {
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: 25px;
}

.mautic-editable.over-droppable {
    border: dashed 2px #4e5e9e;
    -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .75);
    -moz-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .75);
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .75);
}

div[contentEditable=true]:empty:not(:focus):before {
    content: attr(data-placeholder)
}