{% extends "@themes/"~template~"/html/base.html.twig" %}
{% block stylesheets %}

{% endblock %}
{% block content %}
<style>
    :root {
        --color-env: hsl(220 40% 35% / 1);
        --color-env2: hsl(228 40% 33% / 1);
        --color-flap: hsl(228 40% 25% / 1);
        --color-bg: hsl(228 40% 85% / 1);
        --env-border-radius: 6px;
        --env-width: 220px;
        --env-height: 80px;
    }

    body {
        background-color: var(--color-bg);
    }

    .envelope-wrapper {
        height: 380px;
    }

    #envelope {
        position: relative;
        width: var(--env-width);
        height: var(--env-height);
        border-bottom-left-radius: var(--env-border-radius);
        border-bottom-right-radius: var(--env-border-radius);
        margin: 150px auto 0;
        background-color: var(--color-flap);
        box-shadow: 0 4px 20px rgba(0, 0, 0, .2);
    }

    .front {
        position: absolute;
        width: 0;
        height: 0;
        z-index: 3;
    }

    .flap {
        border-left: calc(var(--env-width) / 2) solid transparent;
        border-right: calc(var(--env-width) / 2) solid transparent;
        border-bottom: 82px solid transparent;
        border-top: 98px solid var(--color-flap);
        transform-origin: top;
        transform: rotateX(180deg);
        z-index: 1;
    }

    .pocket {
        border-left: calc(var(--env-width) / 2) solid var(--color-env);
        border-right: calc(var(--env-width) / 2) solid var(--color-env);
        border-bottom: 90px solid var(--color-env2);
        border-top: calc(var(--env-height) / 2) solid transparent;
        border-bottom-left-radius: var(--env-border-radius);
        border-bottom-right-radius: var(--env-border-radius);
    }

    .letter {
        position: relative;
        background-color: #fff;
        width: 90%;
        margin: 0 auto;
        height: calc(var(--env-height) + 30%);
        top: 5%;
        border-radius: var(--env-border-radius);
        box-shadow: 0 2px 26px rgba(0, 0, 0, .12);
        transform: translateY(-60px);
        z-index: 2;
    }

    .letter:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image:
            linear-gradient(180deg,
                rgba(255, 255, 255, 0.00) 25%,
                rgba(215, 227, 239, 0.70) 55%,
                rgba(215, 227, 239, 1.00) 100%);
    }

    .words {
        position: absolute;
        left: 10%;
        width: 80%;
        height: 14%;
        background-color: #EEEFF0;
    }

    .words.line1 {
        top: 15%;
        width: 20%;
        height: 7%;
    }

    .words.line2 {
        top: 30%;
    }

    .words.line3 {
        top: 50%;
    }

    .words.line4 {
        top: 70%;
    }
</style>
<div>
    <div class="envelope-wrapper">
        <div id="envelope" class="open">
            <div class="front flap"></div>
            <div class="front pocket"></div>
            <div class="letter">
                <div class="words line1"></div>
                <div class="words line2"></div>
                <div class="words line3"></div>
                <div class="words line4"></div>
            </div>
        </div>
        <div style="
    position: relative;
    text-align: center;
    top: 70px;
">{{ message|raw }}</div>
    </div>

    {% if content is defined %}
    <div>{{ content|raw }}</div>
    {% endif %}
</div>
{% endblock %}