{#
/*
 * @copyright   2014 Mautic Contributors. All rights reserved
 * @author      Mautic
 *
 * @link        http://mautic.org
 *
 * @license     GNU/GPLv3 http://www.gnu.org/licenses/gpl-3.0.html
 */
#}

{% extends "MauticCoreBundle:Default:content.html.twig" %}

{% set mauticContent = 'theme' %}
{% set headerTitle = 'mautic.core.themes'|trans %}

{% block headerTitle %}{{ headerTitle }}{% endblock %}

{% block actions %}
  {% include "MauticCoreBundle:Theme:form.html.twig" with {
      form: form
    }
  %}
{% endblock %}

{% block content %}
<div class="panel panel-default bdr-t-wdh-0 mb-0">
  {% include "MauticCoreBundle:Helper:list_toolbar.html.twig" with {
    action: currentRoute,
  } %}
    <div class="page-list">
        {% if block('mainContent') is defined %}{{ block('mainContent') }}{% endif %}
    </div>
</div>
{% endblock %}