<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="{{ asset('/media/css/libraries.css') }}" data-source="mautic">
    <link rel="stylesheet" href="{{ asset('/media/css/app.css') }}" data-source="mautic">
</head>
<body>
<div class="container">
    <div class="well mt-15">
        <h4 class="text-center">SAML not configured or configured incorrectly.</h4>
    </div>
</div>
</body>
</html>
