<mjml>
    <mj-head>
        <mj-style>
            .body-left>div{
            margin: 0px 10px !important;
            }
            ul {
            display: block;
            list-style-type: disc;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-inline-start: 40px;
            }
            a {
            color: #1155CC;
            }
            mj-text {
            font-size: small !important;
            font-family: Arial, Helvetica, sans-serif !important;
            color: #222222 !important;
            line-height: 1.5 !important;
            }
        </mj-style>
    </mj-head>
    <mj-body background-color="white">
        <mj-raw><div class="body-left"></mj-raw>
        <mj-section>
            <mj-column>
                <mj-text>
                    <!--text goes here-->
                    Hello,
                    <br></br>
                    The text can be inserted here. This can be a two-line text or a little more.
                    <br></br>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                    invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                    accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
                    sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
                    sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                    aliquyam erat, sed diam voluptua. At vero eos et accusam et
                    <br></br>
                    The text can also be <b>bold</b> or a <a href="#">link</a>

                    <ul>
                        <li>or a list</li>
                        <li>everything you need</li>
                        <li>and it looks like Gmail</li>
                    </ul>
                    Have fun with creating your email
                    <br>
                    <br>
                </mj-text>
            </mj-column>
        </mj-section>
        <mj-raw></div></mj-raw>
    </mj-body>
</mjml>