<?php
/**
 * Parameter overrides for DDEV.
 */
$parameters = [
    'api_enabled'           => true,
    'api_enable_basic_auth' => true,
    'db_driver'             => 'pdo_mysql',
    'db_host'               => 'db',
    'db_table_prefix'       => null,
    'db_port'               => 3306,
    'db_name'               => 'db',
    'db_user'               => 'db',
    'db_password'           => 'db',
    'admin_email'           => 'mautic@ddev.local',
    'admin_password'        => 'mautic',
];
