<div class="boolean">
    <label class="control-label">{{ 'mautic.lead.field.form.properties.boolean'|trans }}</label>
    <div class="row">
        <div class="form-group col-xs-12 col-sm-8 col-md-6">
            <div class="input-group">
                <span class="input-group-addon text-danger">
                    <i class="ri-lg ri-fw ri-close-line"></i>
                </span>
                <input type="text" autocomplete="false" class="form-control" name="leadfield[properties][no]"
                       value="{{ no is defined ? no|purify : 'mautic.core.form.no'|trans }}" onkeyup="Mautic.updateLeadFieldBooleanLabels(this, 0);">
            </div>
        </div>
        <div class="form-group col-xs-12 col-sm-8 col-md-6">
            <div class="input-group">
                <span class="input-group-addon text-success">
                    <i class="ri-lg ri-fw ri-check-line"></i>
                </span>
                <input type="text" autocomplete="false" class="form-control" name="leadfield[properties][yes]"
                       value="{{ yes is defined ? yes|purify : 'mautic.core.form.yes'|trans }}" onkeyup="Mautic.updateLeadFieldBooleanLabels(this, 1);">
            </div>
        </div>
    </div>
</div>
